{% load i18n %}
{% load is_assistant_or_coordinator %}
{% load is_course_coordinator %}
  
{% verbatim %}
<header class="main-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-7">
                <h2 class="course-title">Curso</h2>
                <h2 class="course-name">{{ course.name }}</h2>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <!-- COURSE-SECTION-NAV -->
                <nav class="course-sections {% if user|is_assistant_or_coordinator:course %}admin-menu{% endif %}">
                    <a href="#!/course/{{ course.slug }}" class="intro">Início</a>
                    <!--<a href="{% url 'courses_legacy:resume_course' course.slug %}" class="resume {% if '/lesson/' in request.path %}active{% endif %}">Continuar</a>-->
                    <a href="{% url 'courses_legacy:user_course_notes' course.slug %}" class="notes {% if '/mynotes/' in request.path %}active{% endif %}">Anotações</a>
                    <a href="{% url 'courses_legacy:course_material' course.slug %}" class="materials {% if '/material/' in request.path %}active{% endif %}">Materiais</a>
                    <a ng-if="course.forum_id" href="#!/forum/{{ course.forum_id }}" class="forum">Fórum</a>
                </nav>
            </div>
        </div>
    </div>
</header>  
{% endverbatim %}
