{% load staticfiles %}
{% load i18n %}
{% load is_assistant_or_coordinator %}
{% load compress %}

<!-- COURSE -->
<div class="course course-intro" ng-controller="CourseCtrl">
    <div ng-include="'course-header-inline.partial.html'"></div>

    {% verbatim %}
    <!-- COURSE-CONTENT -->
    <section class="course-content">
        <div class="course-intro-grid">
        <section class="video embed-responsive embed-responsive-16by9 mobile" id="course-video">
               <iframe ng-if="course.intro_video" id="youtube-player"
                       type="text/html"
                       src="{{ youtube_video_url }}"
                       allowfullscreen>
               </iframe>
               <img ng-if="course.thumbnail && !course.intro_video" class="img-responsive" src="{{ course.thumbnail.url }}">
        </section>
        <!-- COURSE INFO SIDEBAR -->
        <div class="course-intro-sidebar">
            <div class="course-intro-sidebar--wrapper">
                <!-- START DATE -->
                <div ng-if="course.start_date">
                    <h3 class="top page-subtitle" translate>START DATE</h3>
                    <p>{{ course.start_date }}</p>
                </div>

                <!-- ABSTRACT -->
                <div ng-if="course.abstract" class="abstract">
                    <h3 class="page-subtitle" translate>WHAT YOU LEARN AT THIS COURSE</h3>
                    <p>{{ course.abstract }}</p>
                </div>

                <a href="{% url 'courses_legacy:enroll_course' course.slug %}" target="_top" class="btn btn-large-rounded">
                    {{ course.is_user_enroller ? 'Continuar curso' : 'Começar curso' }}
                </a>

            </div>
        </div>
        <!-- END COURSE INFO SIDEBAR -->

        <!-- COURSE INTRO DETAILS -->
        <div class="course-intro-details" ng-init="mediaSection='video'">
                <!-- VIDEO -->
                <section class="video embed-responsive embed-responsive-16by9 desktop" id="course-video">
                    <iframe ng-if="course.intro_video" id="youtube-player"
                            type="text/html"
                            src="{{ youtube_video_url }}"
                            allowfullscreen>
                    </iframe>
                    <img ng-if="course.thumbnail && !course.intro_video" class="img-responsive" src="{{ course.thumbnail.url }}">
                </section>
            <!-- END VIDEO -->
        <!-- COURSE-LESSONS -->
                    <section class="lessons lesson-list">
                        <!-- PAGE-HEADER-DOUBLE -->
                        <h3 class="page-subtitle">Modules</h3>
                        <!-- END PAGE-HEADER-DOUBLE -->
                        <!-- LESSON -->
                            <!-- FOR LESSON IN COURSE.PUBLIC_LESSONS -->
                            <div class="lesson row" ng-repeat="lesson in lessons">
                                <!-- COL-LG-3 -->
                                <div class="col-lg-3 col-sm-3 col-sm-3 hidden-xs">
                                    <img src="{{ lesson.thumbnail_url }}" class="img-responsive">
                                </div>
                                <!-- END COL-LG-3 -->

                                <!-- COL-LG-9 -->
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <h4 class="title" ng-if="course.is_user_enrolled">
                                        <a href="#!/{{ course.slug }}/lesson/{{ lesson.id }}" class="title">{{ lesson.name }}</a>
                                    </h4>
                                    <h4 class="title" ng-if="!course.is_user_enrolled">{{ lesson.name }}</h4>

                                    <div class="description">{{ lesson.desc }}</div>

                                    <div class="lesson-units-nav">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="units">
                                            <span class="units-title">Units</span>
                                            <!-- FOR UNIT IN UNITS -->
                                                <div ng-repeat="unit in lesson.units">
                                                    <a ng-if="lesson.is_ready && course.is_user_enrolled" class="has-tooltip unit"
                                                        style="background-color: #D4AF37;"
                                                        href="{% url 'courses_legacy:lesson' course.slug lesson.slug %}#/{{ unit.position + 1 }}"
                                                        data-toggle="tooltip" data-placement="bottom"
                                                        data-original-title="{{ unit.title }}"
                                                        style="margin-left: {{ lesson.units }}%">
                                                        {{ unit.position + 1 }}
                                                    </a>
                                                    <span ng-if="!lesson.is_ready || !course.is_user_enrolled" class="has-tooltip unit done"
                                                        data-toggle="tooltip" data-placement="bottom"
                                                        data-original-title="Unit {{ unit.position + 1 }}"
                                                        style="margin-left: {{ lesson.units  }}%">
                                                        {{ unit.position + 1 }}
                                                    </span>
                                                </div>
                                                <!-- END TD -->
                                            <!-- END FOR -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END FOR LESSON IN COURSE.PUBLIC_LESSONS -->
                        <!-- END LESSON -->
                    </section>
        <!-- END COURSE-LESSONS -->
        </div>
        <!-- END COURSE INTRO DETAILS -->

    </section>
    {% endverbatim %}
    <!-- END COURSE CONTENT -->

</div>
<!-- END COURSE -->
