{% verbatim %}
<div class="course-card">
    <div class="image-container">
        <div class="image-card-list"
            ng-style="{'background-image': $ctrl.course.home_thumbnail_url ? 'url('+$ctrl.course.home_thumbnail_url+')' : 'url(/static/img/cursoPadrao.png)'}"></div>
        <div class="btn-certificate-position" ng-if="$ctrl.course.course_student.course_finished">
            <a class='btn-card-certificate' ng-href="{{ $ctrl.course.course_student.certificate.url }}">
                <i class="fa fa-certificate"></i> <strong translate>View certificate</strong>
            </a>
        </div>
        <div ng-if="$ctrl.course.course_student" class="text-block">
            <p><span translate>Started in</span> {{$ctrl.course.course_student.course.start_date}}</p>
            <p>{{$ctrl.course.course_student.percent_progress}}% <span translate>concluded</span></p>
        </div>
    </div>
    <div ng-if="$ctrl.course.course_student" class="course-card-progress">
        <div class="progress-bar" ng-style="{'width': $ctrl.course.course_student.percent_progress + '%'}"></div>
    </div>
    <div class="course-card-info" ng-style="{'margin-top': !$ctrl.course.course_student ? '16px' : 0}">
        <strong class="card-title" translate>
            {{ $ctrl.course.name.slice(0,75) }}{{$ctrl.course.name.length > 75 ? '...' : ''}}
        </strong>
        <p class="card-text two-lines" ng-bind-html="$ctrl.course.description"></p>
        <div class="card-divider"></div>
        <div class="card-subinfo">
            <span class="card-clock-icon"></span>
            {{$ctrl.course.course_load > 10 ? '' : '0'}}{{$ctrl.course.course_load ? $ctrl.course.course_load : 0}}h
            <span ng-show="$ctrl.course.lang && $ctrl.course.lang.length">
                <span class="card-language-icon"></span>
                <span ng-if="$ctrl.course.lang.includes('English')" translate>English</span><span ng-if="$ctrl.course.lang.length > 1 && $ctrl.course.lang.includes('English')">,</span>
                <span ng-if="$ctrl.course.lang.includes('Portuguese')" translate>Portuguese</span><span ng-if="$ctrl.course.lang.length > 1 && $ctrl.course.lang.includes('Portuguese')">,</span>
                <span ng-if="$ctrl.course.lang.includes('Spanish')" translate>Spanish</span>
            </span>
        </div>
        <div class="btn-position" ng-if="$ctrl.course.course_student && !$ctrl.course.course_student.course_finished">
            <a class='btn-card continue' ng-href="/course/{{ $ctrl.course.slug }}/intro">
                <strong translate>Continue course</strong>
            </a>
        </div>
        <div class="btn-position" ng-if="$ctrl.course.course_student && $ctrl.course.course_student.course_finished">
            <a class="btn-card access restart" ng-href="/course/{{ $ctrl.course.slug }}/intro">
                <strong translate>Restart course</strong>
            </a>
        </div>
        <div class="btn-position" ng-if="$ctrl.course.has_started && !$ctrl.course.course_student">
            <a class="btn-card access start" ng-href="/course/{{ $ctrl.course.slug }}/intro">
                <strong translate>Start course</strong>
            </a>
        </div>
        <div class="btn-position" ng-if="!$ctrl.course.has_started">
            <a class="btn-card access coming-soon" ng-href="/course/{{ $ctrl.course.slug }}/intro">
                <strong translate>Coming soon</strong>
            </a>
        </div>
    </div>
</div>
{% endverbatim %}
