{% load static %}
{% load i18n %}
{% load is_enrolled %}

<script type="text/javascript" src="{% static 'js/app/courses/courses/courses.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/courses/courses/courses.component.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/courses/courses/courses.controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/courses/courses/courses.services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/courses/courses/courses.filters.js' %}"></script>
<script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/file.js' %}"></script>
<!--<script>window.user_id = {{ user.pk }};</script>-->

<!-- CONTAINER -->
<div class="courses-page page container-fluid" ng-controller="CourseListController">
    <header class="page-header">
        <h2><i class="fa fa-angle-double-right"></i><span translate>Courses and Programs</span></h2>
        <p class="page-subheader-text" translate>
            Find the courses and programs of your choice and register.
        </p>
    </header>
    {% verbatim %}
    <section ng-cloak ng-if="recent_courses.length > 0">
        <h3 class="page-subtitle section-division" translate>Most recent courses</h3>
        <cards-carousel courses="recent_courses"></cards-carousel>
    </section>
    <section ng-cloak>
        <h3 class="page-subtitle" translate>All courses</h3>
        <!--<h3 class="page-subtitle" translate>Navigate through the languages</h3>-->
        <!-- COURSE -->
        <p ng-if="!courses" translate>Loading courses...</p>
        <p ng-if="courses && courses.length === 0" translate>There are no courses.</p>
        <div ng-if="courses && courses.length !== 0">
            <div class="courses-list">
                <div class="card-list" ng-repeat="course in courses track by course.id">
                    <course-card course="course"></course-card>
                </div>
            </div>
            <!--
            <div class="load-more-position">
                <button class="btn-large btn-load-more">
                    <a ng-href="#">
                        <strong translate>Load more courses</strong>
                    </a>
                </button>
            </div>
            -->
        </div>
        <!--<div class="col-md-4 col-lg-3">-->
            <!--<div class="course-filters">-->
                <!--&lt;!&ndash;  FORM INLINE &ndash;&gt;-->
                <!--<div class="form-inline">-->
                    <!--<ul>-->
                        <!--<li class="selected">todas</li>-->
                        <!--<li>em andamento</li>-->
                        <!--<li>formações fixas</li>-->
                        <!--<li>mini formações</li>-->
                        <!--<li>tic's e tac's</option>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--&lt;!&ndash; END FORM INLINE &ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
        {% endverbatim %}
    </section>
    <section>
        <h3 class="page-subtitle" translate>My courses</h3>
        <div ng-if="my_courses.length === 0" translate>You are not enrolled in any courses.</div>
        <div class="courses-list" ng-if="my_courses.length > 0">
            <div class="card-list" ng-repeat="course in my_courses track by course.id">
                <course-card course="course"></course-card>
            </div>
        </div>
    </section>
</div>
<!-- CONTAINER -->
