<div class="question">
  <div class="editable-title"><input type="text" ng-model="currentActivity.data.question" placeholder="Título da atividade"></div>
  <button class="btn btn-danger" ng-click="removeCurrentActivity()"><i class="fa fa-trash-o"></i></button>
</div>

<div class="answer">
  <div class="row">
    <div class="col-sm-12">
      <input class="embed-input" aria-label="URL" placeholder="https://" type="url" ng-model="currentActivity.data.content">
    </div>
  </div>
</div>
