{% verbatim %}
<div class="messages messages-list">
    <section class="page container-fluid">
        <ui-view>
        <header class="page-header distance-header-title">
            <h1 translate>Announcements</h1>

            <a class="btn btn-sm edit" ng-if="$ctrl.user.is_superuser" ui-sref=".new" translate>New announcement</a>

        </header>
        <div ng-if="$ctrl.user.is_superuser">
            <h2 translate>Draft and Scheduled announcements</h2>
            <messages-list messages="$ctrl.draft_messages"></messages-list>

            <h2 translate>Published announcements</h2>
            <messages-list messages="$ctrl.published_messages"></messages-list>

            <h2 translate>Welcome announcements</h2>
            <messages-list messages="$ctrl.welcome_messages"></messages-list>
        </div>

        <h2 ng-if="$ctrl.user.is_superuser" translate>My announcements</h2>
        <messages-list messages="$ctrl.my_messages"></messages-list>

        </ui-view>
    </section>
</div>
{% endverbatim %}