{% verbatim %}
<section class="page container-fluid">
    <header class="page-header ng-cloak">
        <h2 translate>Announcements</h2>
            <div>
                <a class="btn btn-primary see-more" ui-sref="messages" translate>see all announcements</a>
                <a ng-if="($ctrl.message.status && $ctrl.message.status != 'published') && ($ctrl.user.is_superuser || $ctrl.user.course_role)"
                            class="btn btn-primary" 
                            ui-sref=".edit"
                            translate>Edit</a>
                <a ng-if="($ctrl.message.status && $ctrl.message.status == 'published' && 
                                        $ctrl.message.is_active_welcome &&
                                        $ctrl.message.type == 'welcome' &&
                                        $ctrl.user.is_superuser)"
                            class="btn btn-primary" 
                            ng-click="$ctrl.toogleWelcomeMessage()"
                            translate>Deactivate</a>
                <a ng-if="($ctrl.message.status && $ctrl.message.status == 'published' &&
                                        !$ctrl.message.is_active_welcome &&
                                        $ctrl.message.type == 'welcome' &&
                                        $ctrl.user.is_superuser)"
                            class="btn btn-primary" 
                            ng-click="$ctrl.toogleWelcomeMessage()"
                            translate>Activate</a>
            </div>
    </header>
    <div class="messages">
        <h1 class="bottom">{{ $ctrl.message.subject }}</h1>
        <p class="date">
            <!--
            <span class="message-date" ng-if="$ctrl.message.date && $ctrl.message.status == 'published'" translate> Sent on</span>
            <span class="message-date">&nbsp{{ $ctrl.message.date|date:'shortDate' }}</span>
            <span class="message-date" ng-if="$ctrl.message.release_date && $ctrl.message.status != 'published'" translate>Scheduled for</span>
            <span class="message-date">&nbsp{{ $ctrl.message.release_date|date:'medium' }}</span>
            -->
            <span class="message-date"  translate> Sent on</span>
            <span class="message-date">&nbsp{{ $ctrl.message.date | date:'shortDate' }}    </span>
            <!-- TODO: Refactor this the CSS (right) way-->
            <span class="message-date" ng-if="$ctrl.message.date && $ctrl.message.release_date"> &nbsp&nbsp|&nbsp&nbsp </span>
            <span class="message-date" ng-if="$ctrl.message.release_date" translate>Scheduled for</span>
            <span class="message-date">&nbsp{{ $ctrl.message.release_date|date:'medium' }}</span>
            <span class="message-date" ng-if="$ctrl.message.is_active_welcome && $ctrl.message.status == 'published'">| &nbsp<span translate>Welcome announcement active</span></span>
            <span class="message-date" ng-if="!$ctrl.message.is_active_welcome && $ctrl.message.status == 'published'">| &nbsp<span translate>Welcome announcement deactivated</span></span>
        </p>
        <p class="date" ng-if="($ctrl.user.is_superuser || $ctrl.user.course_role)">
            <span translate>Author</span><span>: {{ $ctrl.message.sender.name }}</span>
        </p>
        <div class="body">
            <span ng-bind-html="$ctrl.message.message"> </span>
        </div>
        <!-- <div class="row">
            <div class="students col-lg-12">
                <h2>Destinatários</h2>
                <table class="table table-list">
                    <tr>
                        <th class="fullname">Nome completo</th>
                        <th class="email">Email</th>
                        <th class="username">Usuário</th>
                    </tr>
                    <tr ng-repeat="student in message.users_details">
                        {% verbatim %}
                        <td>{{student.name}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.username}}</td>
                    </tr>
                </table>
            </div>
        </div> -->
    </div>
</section>

{% endverbatim %}