{% verbatim %}
<div uib-alert 
            dismiss-on-timeout="5000"
            ng-repeat="alert in $ctrl.alerts"
            ng-class="'alert-' + (alert.type || 'warning')"
            close="$ctrl.closeAlert($index)">
    {{alert.msg}}
</div>
<section class="page container-fluid">
    <header class="page-header">
        <h2 translate>Announcements</h2>
        <div>
            <a class="btn btn-primary see-more" ui-sref="messages" translate>see all announcements</a>
            <button type="button" class="btn btn-success" ng-click="$ctrl.send()" translate>Send</button>
            <button type="button" class="btn btn-success" ng-click="$ctrl.save()" translate>Save as draft</button>
            <button type="button" class="btn btn-danger" ng-click="$ctrl.delete()" translate>Delete</button>
            <button type="button" class="btn btn-danger" ng-click="$ctrl.cancel()" translate>Cancel</button>
        </div>

    </header>
    <div class="messages">
        <div class="alert alert-danger" role="alert"
                ng-show="$ctrl.empty_msg_subject_error || $ctrl.empty_msg_body_error || $ctrl.empty_msg_check_options_error">
            <ul>
                <li ng-show="$ctrl.empty_msg_subject_error"><a href="#id-title" translate>Please enter the subject of the announcement.</a></li>
                <li ng-show="$ctrl.empty_msg_body_error"><a href="#wmd-input" translate>Please insert the text of the announcement.</a></li>
                <li ng-show="$ctrl.empty_msg_check_options_error">
                    <a href="#msg-input">
                        <span translate>Please select at least</span>
                    <b ng-bind="$ctrl.text_msg_check_options_error" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="message-description" translate>Announcements are also sent to users' email.</div>

        <div class="form-group row" ng-if="!$ctrl.new_message.is_active_welcome">
            <h5 translate>Define who is going to receive this announcement:</h5>
            <div class="students col-lg-12" ng-if="!$ctrl.new_message.course">
                <p>
                    <label>
                        <input type="checkbox" ng-model="$ctrl.new_message.is_broadcast">
                        <span translate>Send to all students on the platform</span>
                    </label>
                </p>
                <p ng-show="!$ctrl.new_message.is_broadcast">
                    <span translate>Chosse wich groups will receive this announcement</span>
                </p>
                <ui-select multiple theme="bootstrap" class="form-control" 
                        ng-model="$ctrl.new_message.groups"
                        ng-show="!$ctrl.new_message.is_broadcast"
                        close-on-select="false">
                    <ui-select-match placeholder="{{'Choose one or more groups' | translate}}">{{ $ctrl.group_label($item) }}</ui-select-match>
                    <ui-select-choices repeat="group.id as group in $ctrl.groups | filter: {name: $select.search}">
                        <div ng-bind-html="(group.name | highlight: $select.search)"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="students col-lg-12" ng-if="$ctrl.new_message.course">
                <p>
                    <label>
                        <input type="checkbox" ng-model="$ctrl.is_course_broadcast">
                        <span ng-if="$ctrl.user.is_superuser || $ctrl.user.course_role == 'coordinator'" 
                                    translate>
                            Send to all students on this course
                        </span>
                        <span ng-if="!$ctrl.user.is_superuser && $ctrl.user.course_rolecourse_role == 'assistant'" translate>Send to all my classes</span>
                    </label>
                </p>
                <p ng-show="!$ctrl.is_course_broadcast">
                    <span translate>Chosse wich classes will receive this announcement</span>
                </p>
                <div ng-repeat="klass in $ctrl.classes">
                    <label ng-show="!$ctrl.is_course_broadcast">
                        <input type="checkbox"
                                checklist-model="$ctrl.new_message.classes"
                                checklist-value=klass.id> {{ klass.name }}
                    </label>
                </div>
            </div>

            <!-- TODO: hide this if all classes are selected -->
            <div class="students col-lg-12" ng-show="!$ctrl.new_message.is_broadcast && !$ctrl.is_course_broadcast">
                <p>
                    <span translate>Specify users individually</span>
                </p>
                <p class="autocomplete">
                    <input type="text" id="search-user" class="form-control" ng-model="$ctrl.asyncSelected"
                        placeholder='{{"Type the user name or email" | translate }}'
                        uib-typeahead="user as user.formated_name for user in $ctrl.getUsers($viewValue)"
                        typeahead-loading="loadingLocations"
                        typeahead-on-select="$ctrl.on_select_student($model); $ctrl.asyncSelected = '';"
                        typeahead-min-length="2"
                        typeahead-wait-ms="500">
                    <i ng-show="loadingLocations" class="loading fa fa-refresh fa-spin"></i>
                </p>
                <table class="table table-list" 
                        ng-show="$ctrl.recipient_list.length">
                    <tr>
                        <th class="fullname" translate>Full name</th>
                        <th class="email" translate>Email</th>
                        <th class="username" translate>User</th>
                        <th class="actions" translate>Actions</th>
                    </tr>
                    <tr ng-repeat="student in $ctrl.recipient_list">
                        
                        <td>{{student.name}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.username}}</td>
                        <td class="textcenter">
                            <button class="btn btn-warning" ng-click="$ctrl.remove_student($index)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group row">
            <h5 translate>Scheduling</h5>
            <p>
                <label>
                    <input type="checkbox" ng-model="$ctrl.schedule_message">
                    <span translate>Schedule this announcement to be sent later</span>
                </label>
            </p>

            <div class="form-group" ng-if="$ctrl.schedule_message">
                <h5 translate>This announcement will be sent at: </h5>
                <input moment-picker="$ctrl.schedule.release_date"
                    class="form-control"
                    placeholder="{{'Select date and time' | translate}}"
                    format="LL H:[00] | [GMT] Z"
                    min-view="month"
                    max-view="day"
                    set-on-select="true"
                    locale="{{ $ctrl.schedule.currentLanguage }}"
                    min-date="$ctrl.schedule.now"
                    ng-model="$ctrl.schedule.release_date_obj">

                <span translate>The timezone was detected from your browser</span>
            </div>
        </div>
        <div class="form-group row">
            <h5 translate>Welcome announcement</h5>
            <p>
                <span translate>
                    The Welcome announcement is sent to user when they validate their email, after the sign.
                </span>
            </p>
            <p>
                <label>
                    <input type="checkbox" ng-model="$ctrl.new_message.is_active_welcome">
                    <span translate>Set this announcement as the current Welcome announcement.</span>
                </label>
            </p>
        </div>
        <h3>EN</h3>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="$ctrl.new_message.subject_en"
            placeholder="{{'Subject' | translate}}"/>
        </div>
        <div class="form-group">
            <textarea ui-tinymce
                ng-model="$ctrl.new_message.message_en" class="form-control" rows="5" name="content" required></textarea>
        </div>

        <h3>PT-BR</h3>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="$ctrl.new_message.subject_pt_br"
                placeholder="{{'Subject' | translate}}"/>
        </div>
        <div class="form-group">
            <textarea ui-tinymce
                ng-model="$ctrl.new_message.message_pt_br" class="form-control" rows="5" name="content" required></textarea>
        </div>

        <h3>ES</h3>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="$ctrl.new_message.subject_es"
                placeholder="{{'Subject' | translate}}"/>
        </div>
        <div class="form-group">
            <textarea ui-tinymce
                ng-model="$ctrl.new_message.message_es" class="form-control" rows="5" name="content" required></textarea>
        </div>

        <div class="alert alert-danger" role="alert"
                ng-show="$ctrl.empty_msg_subject_error || $ctrl.empty_msg_body_error || $ctrl.empty_msg_check_options_error">
            <ul>
                <li ng-show="$ctrl.empty_msg_subject_error"><a href="#id-title" translate>Please enter the subject of the announcement.</a></li>
                <li ng-show="$ctrl.empty_msg_body_error"><a href="#wmd-input" translate>Please insert the text of the announcement.</a></li>
                <li ng-show="$ctrl.empty_msg_check_options_error">
                    <a href="#msg-input">
                        <span translate>Please select at least</span>
                    <b ng-bind="$ctrl.text_msg_check_options_error" />.
                    </a>
                </li>
            </ul>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-success" ng-click="$ctrl.send()" translate>Send</button>
            <button type="button" class="btn btn-success" ng-click="$ctrl.save()" translate>Save as draft</button>
            <button type="button" class="btn btn-danger" ng-click="$ctrl.delete()" translate>Delete</button>
            <button type="button" class="btn btn-danger" ng-click="$ctrl.cancel()" translate>Cancel</button>
        </div>
    </div>
</section>
{% endverbatim %}