{% verbatim %}
<div ng-init="open_messages = {}" class="message-list-content">
    <div class="course_messages_group" ng-if="$ctrl.messages.length > 0" ng-repeat="(key, value) in $ctrl.messages | groupBy: 'course_name'">
        <div class="grid-container">
            <div class="grid-item">
                <span ng-if="key">{{key}}</span>
                <span ng-if="!key" translate>General announcements</span>
            </div>
            <div></div>
            <div class="grid-item">
                <button class="btn btn-link btn-sm show-btn pull-right"
                    ng-init="open_messages[key]=true"
                    ng-class="open_messages[key] ? 'hide-all': 'show-all'"
                    ng-click="open_messages[key]=!open_messages[key]">
                    <span ng-show="!open_messages[key]" translate>See</span>

                    <span ng-show="open_messages[key]" translate>Hide</span>
                </button>
            </div>
        </div>

        <div ng-show="open_messages[key]">
            <div class="message" ng-repeat="message in value" ng-class="{'unread': !message.is_read}">
                <div class="message-body">
                    <div class="message-header">
                        <!-- TODO: Localize dates-->
                        <h4 class="message-subject">{{ message.subject }}</h4>
                        <span class="message-date" ng-if="message.date && message.status == 'published'" translate>Sent on</span>
                        <span class="message-date" ng-if="message.date && message.status == 'published'">&nbsp{{ message.date|date:'shortDate' }}</span>
                        <span class="message-date" ng-if="message.release_date && message.status != 'published'" translate>Scheduled for</span>
                        <span class="message-date" ng-if="message.release_date && message.status != 'published'">&nbsp{{ message.release_date|date:'medium' }}</span>
                        <span class="message-date" ng-if="!message.release_date && message.status != 'published'" translate>Draft with no scheduled date</span>
                        <span class="message-date" ng-if="message.is_active_welcome && message.status == 'published'">&nbsp | &nbsp
                            <span translate>Welcome announcement active</span>
                        </span>
                        <span class="message-date" ng-if="!message.is_active_welcome && message.status == 'published'">&nbsp | &nbsp
                            <span translate>Welcome announcement deactivated</span>
                        </span>
                    </div>
                    <div class="message-text">
                        <span ng-bind-html="message.message | limitTo : 300"></span>
                        <a ng-if="message.course_slug" class="btn btn-default see-more"
                            ng-href="/course/{{message.course_slug}}/messages/#!/messages/{{message.id}}"
                            translate>See full announcement</a>
                        <a ng-if="!message.course_slug" class="btn btn-default see-more"
                            ui-sref=".message({messageId: message.id})"
                            translate>See full announcement</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="message" style="margin-bottom: 20px;" ng-if="$ctrl.messages.length == 0 && $ctrl.messages.$resolved">
        <div class="row">
            <div class="col-lg-11">
                <div class="body">
                  <span translate>You haven't received any announcement yet.</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}