{% verbatim %}
<div class="container-fluid generic-list">
    <h2 class="generic-title" translate>Format</h2>

    <div class="row generic-filters">
        <div class="filters  col-lg-10 col-md-10 col-sm-10">
            <form role="form" class="form-inline" method="GET">
                <div class="form-group">
                    <label class="sr-only" for="search" translate>Keyword</label>
                    <input type="text"
                        placeholder="{{'Enter a keyword'|translate}}"
                        class="form-control" id="search"
                        name="search"
                        ng-model="search">
                </div>
                <div class="form-group">
                    <button class="btn btn-sm btn-primary search" ng-click="page_changed()" translate>Search</button>
                </div>
            </form>
        </div>
        <a type="submit" ng-disabled="!format" href="/#!/format/"
            class="col-lg-2 col-md-2 col-sm-2 btn btn-primary new-topic new-topic-course margin pull-right"
            translate>
                New format
        </a>
    </div>

    <div class="format-list-content">
        <div class="col-lg-12" ng-hide="format_page_loaded">
            <p><span translate>Loading formats list</span>... <i class="loading fa fa-refresh fa-spin"></i></p>
        </div>
        <div class="col-lg-12" ng-if="format_page_loaded && formats.length==0">
            <p translate>No formats were found.</p>
        </div>
        <section ng-show="format_page_loaded && formats.length">
            <table>
                <thead>
                    <tr>
                        <th class="format-name" translate>Name</th>
                        <th class="format-description" translate>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="format in formats">
                        <td class="col-md-4">
                            <div class="text-left">
                                <a href="/#!/format/{{format.id}}"><b>{{ format.name }}</b></a>
                            </div>
                        </td>
                        <td class="col-md-8" ng-bind-html="format.description"></td>
                    </tr>
                </tbody>
            </table>

            <div class="pagination-wrapper">
                <ul uib-pagination boundary-links="true" total-items="format.total_format_items"
                    ng-model="current_page" rotate="true" force-ellipses="true" max-size="5" items-per-page="format.page_size"
                    ng-change="page_changed()" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;"
                    first-text="{{'first page' | translate}}" last-text="{{'last page' | translate}}" ng-hide="filtered"></ul>
            </div>
        </section>
    </div>
</div>
{% endverbatim %}