<div>
    {% verbatim %}
    <section class="forums forums-page forums-widget widget container-fluid" ng-cloak>
            <!-- <div class="widget-topbar line one-column">
                <div class="column">
                    <button class="btn btn-link clean">limpar filtro</button>
                    <button class="btn btn-link filter">filtrar por tags e categorias</button>
                </div>
            </div> -->
            <div class="widget-topbar line one-column filters" ng-show="filters.categories.length + filters.tags.length > 0">
                <div class="filters-header">
                    <span class="col-sm-2" translate="">
                        categories
                    </span>
                    <span class="col-sm-8" translate>
                    </span>
                    <span class="col-sm-2" translate>
                        options
                    </span>
                </div>
                <div class="filters-options">
                    <div class="col-sm-2">
                        <a ng-click="forumFilter('rem','cat',category)"
                            class="category"
                            ng-repeat="category in filters.categories track by $index"><span>{{category.name}} <b>&times;</b></span></a>
                    </div>
                    <div class="col-sm-8">
                        <a ng-click="forumFilter('rem','tag',tag)"
                            class="tag"
                            ng-repeat="tag in filters.tags track by $index"><span>#{{tag.name}} <b>&times;</b></span></a>
                    </div>
                    <div class="col-sm-2" ng-show="forum_search">
                        <button class="btn btn-link clean" ng-click="forumFilter('clear')" translate>Clear</button>
                    </div>
                </div>
            </div>

            <header ng-show="forum_single" class="widget-topbar breadcrumb">
                <div class="line">
                    <div class="pull-left">
                        <h2 class="title-primary" translate>Forum</h2>
                    </div>
                    <div>
                        <a ng-href="#!/forum" class="btn btn-link goback pull-right"><span translate>Back</span></a>
                    </div>
                    <div>
                        <h2 class="title-secondary">{{forum.title}}</h2>
                    </div>
                </div>
                <div>
                    <form id="searchForm" class="widget-filter widget-filter-topics form-inline">
                        <div class="container row no-gutter">
                            <div class="row row no-gutter">
                                <div class="col-12 col-sm-6 col-lg-8 col-xs-12 section-search">
                                    <div class="forum-search form-group">
                                        <input class="form-control form-input" type="text" placeholder="{{'Search'|translate}}"
                                        ng-model="search_topic.txt" uib-typeahead="result for results in getResultsTopic($viewValue)"
                                        typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-wait-ms="500">
                                        <button class="btn btn-default filter-results"
                                                    ng-init="forum.show_button=false"
                                                    ng-class="forum.show_button ? 'hide-all-filters' : 'show-all-filters'"
                                                    ng-click="forum.show_button=!forum.show_button">
                                            <span translate>Filter result</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row pull-left row no-gutter container-fluid" ng-show="forum.show_button">
                                <div class="col-6 col-sm-4 form-tags">
                                    <label for="thread-forum" class="label-filters" translate>CATEGORY</label>
                                    <select class="form-control label-category" ng-model="category" name="category" id="category" ng-change="filtersChanged('cat')" ng-options="cat as cat.name for cat in forum.category">
                                        <option value= "" translate>Select...</option>
                                    </select>
                                </div>
                                <div class="col-6 col-sm-4">
                                    <label for="thread-forum" class="label-filters" translate>TAGS</label>
                                    <select class="form-control label-category" ng-model="tags" name="tags" id="tags" ng-change="filtersChanged('tag')" ng-options="tag as tag.name for tag in list_tags">
                                        <option value= "" translate>Select...</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row row no-gutter">
                                <div ng-show="forum.show_button" class="search-tags col-12 col-sm-6 col-lg-8">
                                    <button class="btn btn-default list-category-tags" type="button" ng-show="category" ng-click="filtersChanged('clean', 'cat')"> {{ category.name }} <i class="fa fa-times pull-right"></i></button>
                                    <button class="btn btn-default list-category-tags" type="button" ng-show="tags" ng-click="filtersChanged('clean', 'tag')"> {{ tags.name }} <i class="fa fa-times pull-right"></i></button>
                                    <button class="btn btn-link remove-filter" ng-show="category || tags" ng-click="filtersChanged('clean')" translate>Clear filters</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </header>

            <div class="line one-column" ng-if="forum_single && !forum_search">
                    <div class="column">
                        <h3 class="section-title-topics" translate><span translate>Topics</span>
                            <span class="section-subtitle-topics pull-right" ng-show="forum_topics_total"><span translate>Displaying</span>
                                <b>{{forum.topics.length}}</b> <span translate>of</span> {{forum_topics_total}} <span translate>topics</span>
                            </span>
                        </h3>
                    </div>
            </div>

            <header ng-if="!forum_single || forum_search" class="widget-header line one-column">
                <div class="column column-search">
                    <h2 class="widget-title" translate>Forums' list</h2>
                    <!-- <a class="btn btn-success new-topic"
                        href="/discussion/topic/new/#!/topic/new/">criar novo tópico</a> -->

                    <p class="description" translate>
                        Share points of view on various topics of discussion with more people.
                    </p>

                    <form id="searchForm" class="widget-filter form-inline">
                        <input class="form-control" type="text" ng-model="search.txt"
                            uib-typeahead="result for results in getForumAndTopicResults($viewValue)"
                            typeahead-loading="loadingLocations" typeahead-no-results="noResults"
                            typeahead-min-length="2" typeahead-wait-ms="500"
                            placeholder="{{'Search the forums' | translate}}">
                    </form>
                    <button class="btn btn-xs btn-primary pull-right" ng-show="search.txt" ng-click="clear_search();" translate>Clear search</button>
                </div>
            </header>
            <!--
            <div class="line one-column" ng-if="!forum_single && !forum_search">
                <div class="column">
                    <h3 class="section-title" translate>Latest Posts</h3>
                </div>
            </div>

            <div class="line two-column fifty-fifty" ng-if="!forum_single && !forum_search">
                <div class="user-update column" ng-repeat="topic in latest_topics | limitTo:2">
                    <div class="user-icon">
                        <img ng-src="{{topic.author.image || '/static/img/avatar-default.png'}}" alt="{{topic.author.first_name || topic.author.username  }}">
                    </div>
                    <div class="info">
                        <a ng-href="/profile/{{ topic.author.username }}">
                            <b>{{ topic.author.first_name || topic.author.username }}</b>
                        </a> <span translate>commented on the topic</span> <a href="#!/topic/{{ topic.id }}" class="forum-name">{{ topic.title |charLimiter:50}}</a> <span translate>in the forum</span> <a ng-href=#!/forum/{{ topic.forum }}">{{ topic.forum_info.title }}</a>
                    </div>
                    <div class="actions">
                        <span class="action last-update" translate>Last activity</span><span class="action last-update"><b> {{ topic.last_activity_at | dateFilter }}</b> <b translate>ago</b></span>
                        <span class="action liked" ng-class="{ 'active': topic.count_likes }"> {{topic.count_likes}} <span translate>liked</span></span>
                        <span class="action replies" ng-class="{ 'active': topic.count_replies }">{{topic.count_replies}} <span translate>comments</span></span>
                    </div>
                </div>
            </div>
            -->
            <div class="forum-list">
                <div ng-repeat="forum in forums track by forum.id">
                    <div ng-hide="(filters.categories.length + filters.tags.length > 0) && forum.topics.length===0">
                        <!--
                        <div class="line one-column" ng-if="!forum_single">
                            <div class="column">
                                <h3 class="section-title forum-title">
                                    <a ng-href="#!/forum/{{ forum.id }}">{{ forum.title }}</a>
                                    <button class="btn btn-link btn-sm show-btn"
                                        ng-if="forum.topics.length>0"
                                        ng-init="forum.show_forum=true"
                                        ng-class="forum.show_forum ? 'hide-all': 'show-all'"
                                        ng-click="forum.show_forum=!forum.show_forum">
                                        <span ng-show="!forum.show_forum" translate>See</span>
                                        <span ng-show="forum.show_forum" translate>Hide</span>
                                    </button>
                                </h3>
                            </div>
                        </div>
                        -->
                        <div class="grid-container">
                            <div class="grid-item">
                                <a ng-href="#!/forum/{{ forum.id }}" ng-bind="forum.title"></a>
                            </div>
                            <div></div>
                            <div class="grid-item">
                                <button class="btn btn-link btn-sm show-btn pull-right"
                                    ng-if="forum.topics.length>0"
                                    ng-init="forum.show_forum=true"
                                    ng-class="forum.show_forum ? 'hide-all': 'show-all'"
                                    ng-click="forum.show_forum=!forum.show_forum">
                                    <span ng-show="!forum.show_forum" translate>See</span>
                                    <span ng-show="forum.show_forum" translate>Hide</span>
                                </button>
                                <span class="no-topics pull-right" ng-if="forum.topics.length==0" translate>
                                    No topics yet
                                </span>
                            </div>
                        </div>
                        <!-- <div class="column" ng-show="( forum_single && !topics_loaded ) || !forums.$resolved">
                            <h3 class="section-title"><span>Carregando tópicos...</span></h3>
                        </div> -->
                        <div class="column" ng-show="forum.topics.length===0 && forum_page_loaded && !forum_search">
                            <p class="empty-forum" translate>This forum doesn't have any topics yet.</p>
                        </div>
                        <div class="column" ng-show="forum.topics.length===0 && forum_search">
                            <p class="empty-forum" translate>No results found.</p>
                        </div>

                        <!-- List topics in a specific forum -->
                        <div class="forum-list" ng-show="forum.show_forum || forum_single" ng-if="forum.topics.length>0">
                            <table class="table table-striped">
                                <!-- <thead>
                                    <tr>
                                        <th>tópico</th>
                                        <th>reações</th>
                                        <th>categorias</th>
                                        <th>tags</th>
                                        <th></th>
                                    </tr>
                                </thead> -->
                                <tbody>
                                    <tr ng-repeat="topic in forum.topics track by topic.id" ng-class="{'new': topic.read !== true}">
                                        <td>
                                            <a ng-href="#!/topic/{{ topic.id }}"><span class="thread-name">{{ topic.title }}</span></a>
                                            <span class="last-update"><span translate>By</span> <a ng-href="#!/profile/{{ topic.author.username }}">{{topic.author.first_name + " " + topic.author.last_name}}</a> | <span translate>Last activity</span> <b>{{ topic.last_activity_at | dateFilter }}</b></span>
                                        </td>
                                        <td>
                                            <span class="action liked small">{{ topic.count_likes }}</span>
                                            <span class="action replies small">{{ topic.count_replies }}</span>
                                        </td>
                                        <td>
                                            <a ng-repeat="category in topic.categories"
                                                    ng-click="forumFilter('add','cat',category)"
                                                    class="category">{{ category.name }}</a>
                                        </td>
                                        <td>
                                            <div class="tags">
                                                <a ng-repeat="tag in topic.tags.slice(0,2)"
                                                    ng-click="forumFilter('add','tag',tag)"
                                                    class="tag">#{{ tag.name }}</a>
                                                <a ng-href="#!/topic/{{ topic.id }}"
                                                    ng-show="topic.tags.length > 2" class="tag">
                                                    +{{ topic.tags.length - 2 }}</a>
                                            </div>
                                        </td>
                                        <td ng-if="user.is_staff || user.is_superuser">
                                            <button class="btn btn-danger trash" aria-label="{{ 'Delete topic' | translate }}" ng-click="deleteTopic(topic)"></button>
                                            <!-- <span aria-label="Tópico pinnado" ng-if="topic.is_pinned">
                                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                                            </span> -->
                                        </td>
                                    </tr>
                                    <tr ng-show="forum_single && has_next_page">
                                        <td class="td-load" colspan="4">
                                            <a class="btn btn-sm btn-primary see-all" ng-click="loadMore()" translate>Load more</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div ng-show="forum_search && (forum_topics_total > forum_topics_page)" class="pagination-wrapper">

                                <!-- Small screens -->
                                <ul uib-pagination boundary-links="true" total-items="forum_topics_total" ng-model="topics.current_page" rotate="true" max-size="2" items-per-page="forum_topics_page" ng-change="topicPageChanged()" class="pagination pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

                                <!-- Medium screens -->
                                <ul uib-pagination boundary-links="true" total-items="forum_topics_total" ng-model="topics.current_page" rotate="true" force-ellipses="false" max-size="5" items-per-page="forum_topics_page" ng-change="topicPageChanged()" class="pagination pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="primeira" last-text="última"></ul>

                                <!-- Large screens -->
                                <ul uib-pagination boundary-links="true" total-items="forum_topics_total" ng-model="topics.current_page" rotate="true" force-ellipses="false" max-size="10" items-per-page="forum_topics_page" ng-change="topicPageChanged()" class="pagination pagination-lg" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="primeira" last-text="última"></ul>
                            </div>

                            <div ng-show="!forum_single && !forum_search" class="see-all-topics">
                                <a class="btn btn-sm btn-primary see-all" ng-href="#!/forum/{{ forum.id }}" translate>View all topics in this forum</a>
                            </div>
                        </div>
                        <!-- /List topics in a specific forum -->

                        <div ng-show="forum_single" class="last-child-page">
                            <a class="btn btn-sm btn-success new-topic" href="#!/topic/new/" translate>Create new topic</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-wrapper" ng-show="forum_page_loaded && forum.has_next_page && !(forum_single || forum_search)">
                <!-- Small screens -->
                <ul uib-pagination boundary-links="true" total-items="forum.total_forum_items" ng-model="forum.current_page" rotate="true" force-ellipses="true" max-size="2" items-per-page="forum.page_size" ng-change="forumPageChanged()" class="pagination pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                <!-- Medium screens -->
                <ul uib-pagination boundary-links="true" total-items="forum.total_forum_items" ng-model="forum.current_page" rotate="true" force-ellipses="true" max-size="5" items-per-page="forum.page_size" ng-change="forumPageChanged()" class="pagination pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                <!-- Large screens -->
                <ul uib-pagination boundary-links="true" total-items="forum.total_forum_items" ng-model="forum.current_page" rotate="true" force-ellipses="true" max-size="10" items-per-page="forum.page_size" ng-change="forumPageChanged()" class="pagination pagination-lg" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            </div>
        </section>
    </div>
    {% endverbatim %}
  </div>
