{% verbatim %}
<header class="site-header" role="navigation">
    <div class="user-info" ng-click="toggle_main_nav_display()" ng-cloak>
        <i class="fa fa-bars menu-icon"></i>
    </div>
    <div class="site-logo">
        <a href="/"><img src="{{logo}}" alt="{{ site.name }}"></a>
    </div>

    <ul id="top-right-menu" class="user-tools">
        <li>
            <a class="notifications active" ng-click="toggle_notifications()">
                <span class="notification-bubble number" ng-show="unread.counter">{{unread.counter}}</span>
            </a>
        </li>
        <li>
            <select class="languages active language-select" ng-model="$ctrl.languages.current"
                ng-if=" $ctrl.languages.available.length > 1"
                ng-change="$ctrl.languageChanged($ctrl.languages.current)"
                ng-options="item.code as item.cap_short_code for item in $ctrl.languages.available">
            </select>
        </li>
    </ul>
    <div id="notification-wrapper" click-outside="show_notification = false" outside-if-not="notification-wrapper, top-right-menu">
        <div ng-show="show_notification" class="notifications-panel" ng-cloak>
            <h2 class="notifications-title" translate>Notifications</h2>
            <notifications ng-model="notifications"></notifications>
        </div>
    </div>
</header>
{% endverbatim %}
