<div class="home-spa">
  <div class="home-spa__hero">
    <div class="home-spa__hero-content">
      <div class="home-spa__intro">
        <h1 translate>AEA Academy</h1>

        <p translate>Enroll in virtual and culturally adapted courses on Land and Rights defense strategies!</p>

        <a href="/pages/sobre/" class="btn btn-primary" translate>About the Academy</a>
      </div>
    </div>
  </div>

  {% verbatim %}
  <div class="home-spa__courses-wrapper courses-page">
    <h2 translate>Meet our courses</h2>
    <div class="home-spa__courses">
      <course-card course="course" ng-repeat="course in $ctrl.courses track by course.id"></course-card>
    </div>
  </div>
  {% endverbatim %}

  <div class="home-spa__boxes">
    <div class="home-spa__login-box">
      <h2 translate>Start now!</h2>
      <p translate>Log in or create your Academy account to learn even more and enjoy all its features.</p>
      <div class="home-spa__login-buttons">
        <a href="{% url 'account_login' %}" class="btn btn-secondary" translate>Login</a>
        <a href="{% url 'account_signup' %}" class="btn btn-secondary btn-inverse" translate>Sign up</a>
      </div>
    </div>
    <div class="home-spa__video">
      <iframe src="https://www.youtube.com/embed/XgUAqVC7Zys"frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  {% verbatim %}
  <footer class="home-spa__footer">
    <div class="home-spa__footer-logos">
      <a ng-href="https://toamazonia.org/?lang={{ $ctrl.lang }}">
        <img ng-src="{{ $ctrl.logo }}" alt="{{ 'All Eyes on the Amazon' | translate }}">
      </a>
      <div class="home-spa__footer-social">
        <a href="https://www.youtube.com/channel/UCSpeCOZ_t_0Ckl4YIF-DGCg" aria-label="YouTube">
          <i class="fa fa-youtube-play"></i>
        </a>
        <a href="https://www.instagram.com/hivosamazonia/" aria-label="Instagram">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>

    <div class="home-spa__footer-menu row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h2 translate>About us</h2>
        <ul>
          <li>
            <a ng-href="https://toamazonia.org/about-all-eyes-on-the-amazon/?lang={{ $ctrl.lang }}" translate>About the Initiative</a>
          </li>
          <li>
            <a ng-href="https://toamazonia.org/contact-us/?lang={{ $ctrl.lang }}" translate>Contact us</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h2 translate>Join us</h2>
        <ul>
          <li>
            <a ng-href="https://toamazonia.org/get-involved/?lang={{ $ctrl.lang }}" translate>Get Involved</a>
          </li>
          <li>
            <a ng-href="https://toamazonia.org/knowledge-exchange/?lang={{ $ctrl.lang }}" translate>Knowledge Exchange</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h2 translate>Learn more</h2>
        <ul>
          <li>
            <a ng-href="https://toamazonia.org/news-list/?lang={{ $ctrl.lang }}" translate>News and Stories</a>
          </li>
          <li>
            <a ng-href="/?lang={{ $ctrl.language }}" translate>Academy</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h2 translate>Share resources</h2>
        <ul>
          <li>
            <a ng-href="https://toamazonia.org/videos/?lang={{ $ctrl.lang }}" translate>Videos</a>
          </li>
          <li>
            <a ng-href="https://toamazonia.org/resources/?lang={{ $ctrl.lang }}" translate>Resources</a>
          </li>
          <li>
            <a ng-href="https://toamazonia.org/cases-studies/?lang={{ $ctrl.lang }}" translate>Case Studies</a>
          </li>
          <li>
            <a ng-href="https://toamazonia.org/radio-podcast/?lang={{ $ctrl.lang }}" translate>Radio Podcast</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="home-spa__footer-hivos">
      <p>
        <span translate>Initiative by</span>
        <a href="https://hivos.org/">
          <img src="/static/img/hivos.svg" alt="Hivos"></p>
        </a>
    </div>
  </footer>
  {% endverbatim %}
</div>
