{% load i18n %}
{% load is_coordinator %}
{% load has_group %}

<nav class="main-nav" role="navigation" ng-controller="MainNavCtrl">
    <ul class="user-nav">
    {% if user.is_authenticated %}
        {% verbatim %}
        <li style="display:flex;" ng-click="toggle_main_nav_display()" ng-cloak>
            <i style="font-size: 20px;" class="fa fa-bars"></i>
            <p style="margin: 5px 15px;"><span translate>Hi</span>, {{ user.username }}</p>
        </li>
        <li><a href="{{ current_origin }}/#!/dashboard" class="home" translate>Dashboard</a></li>
        <li><a href="{{ current_origin }}/#!/courses" class="courses" translate>Courses</a></li>
        <li><a href="{{ current_origin }}/#!/events" class="calendar" translate>Agenda</a></li>
        <li>
            <span class="notification-mark nav-bubble-notification number" ng-show="messages_unread_count.count">
                {{ (messages_unread_count.count < 10) ? messages_unread_count.count : "9+" }}
            </span>
            <a class="bullhorn" href="{{ current_origin }}/#!/messages">
                <span translate>Announcements</span>
            </a>
        </li>
        <li><a href="{{ current_origin }}/#!/forum" class="forum" translate>Forums</a></li>
        <li><a href="{{ current_origin }}/#!/profile/{{ user.username }}" class="profile" translate>Profile</a></li>
        <li><a href="{{ current_origin }}/#!/cards" class="cards" translate>User guidelines</a></li>
        {% endverbatim %}
        <!--<li><a href="{% url 'courses_legacy:user_notes' %}" class="notes">Anotações</a></li>-->
        <!--<li>
            {% verbatim %}
            <a class="chat" href="/chat">
                <span class="notification-bubble" ng-show="chat.notifications!='0'">{{ chat.notifications }}</span>
                <span class="">Chat</span>
            </a>
            {% endverbatim %}
        </li>-->
        {% if user.is_superuser or user.is_staff or user|is_coordinator or user|has_group:"Relatórios" or user|has_group:"Administração - Gestão de usuários" or user|has_group:"Administração - Relatórios" or user|has_group:"Administração - Gestão Espaços formativos" or user|has_group:"Administração - Gestão Certificados" or user|has_group:"Administração - Gestão Fóruns" %}
        <li class="submenu">
            <a class="cog"
                ng-init="collapsedSubmenu=true"
                ng-click="collapsedSubmenu=!collapsedSubmenu">
                <span class="visible-xs-inline">Admin <i class="fa fa-angle-down"></i></span>
                <span class="hidden-xs"><span translate>Administration</span> <i class="fa fa-angle-down"></i></span>
            </a>
            <ul uib-collapse="collapsedSubmenu">
                <!-- Administração Cursos -->
                {% if user.is_superuser or user.is_staff or user|is_coordinator or user|has_group:"Administração - Gestão Espaços formativos" %}
                    <li><a href="{% url 'courses_legacy:administration.courses' %}" id="admin-link" translate>Courses</a></li>
                {% endif %}
                {% if user.is_superuser or user.is_staff or user|has_group:"Administração - Gestão de usuários" %}
                <li><a href="{% url 'courses_legacy:administration.users' %}" id="admin-link" translate>Users and groups</a></li>
                {% endif %}
                <!--
                {% if user.is_superuser or user.is_staff or user|has_group:"Administração - Relatórios" %}
                <li><a href="{% url 'courses_legacy:general_reports' %}" id="admin-link">Relatórios</a></li>
                {% endif %}

                {% if user.is_superuser %}
                    {% comment %} or user|has_group:"Administração - Gestão Certificados" {% endcomment %}
                <li><a href="{% url 'courses_legacy:administration.certificates' %}" id="admin-link">Certificados</a></li>
                {% endif %}

                {% if user.is_superuser or user.is_staff %}
                <li><a href="{% url 'courses_legacy:contracts' %}" id="admin-link">Área de trabalho</a></li>
                {% endif %}
                -->
                {% if user.is_superuser or user.is_staff or user|has_group:"Administração - Gestão Fóruns" %}
                <li><a href="{% url 'discussion:forum-list' %}" id="admin-link" translate>Forums</a></li>
                {% endif %}
                {% if user.is_superuser or user.is_staff %}
                <li><a href="/#!/categories/" id="admin-link" translate>Category</a></li>
                {% endif %}
                {% if user.is_superuser or user.is_staff %}
                <li><a href="/#!/themes/" id="admin-link" translate>Themes</a></li>
                {% endif %}
                {% if user.is_superuser or user.is_staff %}
                <li><a href="/#!/formats/" id="admin-link" translate>Formats</a></li>
                {% endif %}
            </ul>
        </li>
        <li class="submenu">
            <a class="reports"
                ng-init="collapsedSubmenuReport=true"
                ng-click="collapsedSubmenuReport=!collapsedSubmenuReport">
                <span class="visible-xs-inline">Reports <i class="fa fa-angle-down"></i></span>
                <span class="hidden-xs"><span translate>Reports</span> <i class="fa fa-angle-down"></i></span>
            </a>
            <ul uib-collapse="collapsedSubmenuReport">
                <li><a href="{{ current_origin }}/#!/reports/general" translate>Overview</a></li>
                <li><a href="{{ current_origin }}/#!/reports/users" translate>User reports</a></li>
            </ul>
        </li>
        {% elif user|is_coordinator %}
        <li class="submenu">
            <a href="{% url 'courses_legacy:administration.courses' %}" translate>
                Administration
            </a>
        </li>
        {% endif %}
        <li><a href="{% url 'account_logout' %}" class="logout" translate>Logout</a></li>
        <hr/>

        <!-- <li><a href="/pages/ajuda/">Help</a></li> -->
        <li><a href="/pages/faq">FAQ</a></li>

        <!-- <li><a href="#" data-toggle="modal" data-target="#modal-contact" class="contact">Contact</a></li> -->
        <hr/>
        <li><a href="https://toamazonia.org" data-target="#modal-contact" class="arrow-left" translate>Go back to the Learning Platform</a></li>
    {% else %}
        <li><a href="{% url 'courses_legacy:courses' %}" class="courses" translate>Courses</a></li>
        <li>
            <a href="#" class="dropdown-toggle login" data-toggle="dropdown" translate>Login</a>
            {% include '_login_modal.html' %}
        </li>
        <li>
        {% block header_signup_link %}
            <a href="#" class="dropdown-toggle register" data-toggle="dropdown" translate>Register</a>
            {% include '_signup_modal.html' %}
        {% endblock %}
        </li>
    {% endif %}
    <div class="site-info">
        {% block header_site_nav %}
        {% endblock %}
    </div>
    </ul>
</nav>

<div class="modal fade" id="modal-contact">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" translate>Suport</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-1">
                        <form class="form-horizontal" method="post" action="{% url 'courses_legacy:contact' %}">
                            {% csrf_token %}
                            {% include '_contact_form.html' %}
                            <div class="submit textcenter">
                                <button type="reset" class="btn btn-danger" translate>Clean</button>
                                <button type="submit" class="btn btn-success" translate>Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" translate>Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
