{% load i18n %}
{% load static %}
{% load is_enrolled %}

<script src="https://unpkg.com/ng-file-upload@12.0.4/dist/ng-file-upload.min.js"></script>
<script src="https://unpkg.com/angular-scroll@1.0.2/angular-scroll.min.js"></script>
<script src="https://unpkg.com/ui-select@0.19.8/dist/select.min.js"></script>

<script src="https://unpkg.com/tinymce@4.5.10/tinymce.min.js"></script>
<script src="https://unpkg.com/angular-ui-tinymce@0.0.19/dist/tinymce.min.js"></script>
<script src="{% static 'js/ui.tinymce.courses-legacy.config.js' %}"></script>

<script type="text/javascript" src="{% static 'js/app/forum/new-topic/new-topic.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/forum/new-topic/new-topic.controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/forum/forum/forum.services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/forum/forum/forum.directives.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/forum/forum/forum.filters.js' %}"></script>

<div ng-controller="NewTopicCtrl">
    {% verbatim %}
    <section class="forums forums-page forums-widget thread widget container-fluid">
            <div class="widget-topbar breadcrumb">
                <div class="line line-title">
                    <div class="pull-left">
                        <h2 class="title-primary" ng-cloak translate>Forum</h2>
                    </div>
                    <div>
                        <a href="/discussion/" class="btn btn-link goback pull-right"><span translate>Back</span></a>
                    </div>
                    <div>
                        <h2 class="title-secondary" translate>New Topic</h2>
                    </div>
                </div>
            </div>

            <div class="line one-column">
                <div class="column">
                    <form class="new-thread" name="newthread" novalidate ng-submit="newthread.$valid && save_topic()">
                        <div ng-show="show_errors" id="errors-list">
                            <div class="alert alert-danger" role="danger" ng-repeat="(error, detail) in newthread.forum.$error" translate>Forum is required field</div>
                            <!-- <div class="alert alert-danger" role="danger" ng-repeat="(error, detail) in newthread.category.$error">Categoria é campo obrigatório</div> -->
                            <div class="alert alert-danger" role="danger" ng-repeat="(error, detail) in newthread.title.$error" translate>Topic title is required field</div>
                            <div class="alert alert-danger" role="danger" ng-repeat="(error, detail) in newthread.content.$error" translate>Topic cannot be empty</div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="thread-forum"><span translate>Which forum should the new topic be in?</span> <span class="help-text-forum">*</span></label>
                                    <select class="form-control" ng-model="selected_forum" name="forum" id="thread-forum" ng-change="filter_categories()" ng-options="forum as forum.title for forum in forums" required >
                                        <option translate>Choose the forum</option>
                                    </select>
                                </div>
                                <!-- <div class="col-sm-6">
                                    <div class="help-text">fórum escolhido</div>
                                    <div class="selected-forum">Avante e Entremeios</div>
                                </div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="thread-forum" translate>What category should your topic be in?</label>
                                    <select class="form-control" ng-model="category" name="category" id="category" ng-options="category as category.name for category in categories track by category.name">
                                        <option value= "" translate>Choose a category</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="thread-name"><span translate>What is the title of your topic?</span><span class="help-text-forum"> *</span></label>
                            <input class="form-control" ng-model="new_topic.title" name="title" type="text" id="thread-name" required>
                        </div>
                        <!-- <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="pinned-topic">Fixar tópico no topo do fórum? </label>
                                    <input ng-model="new_topic.is_pinned" name="pinned-topic" type="checkbox" id="pinned-topic"><br/>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label for="thread-text"><span translate>Topic text</span><span class="help-text-forum">*</span></label>
                            <textarea ui-tinymce
                                      ng-model="new_topic.content"
                                      placeholder="Escreva aqui o seu comentário" name="content" required></textarea>
                        </div>
                        <div class="form-group">
                            <button id="select-file-topic"
                                   class="btn btn-xs btn-primary attach"
                                   ngf-select="uploadTopicFiles($file, new_topic)"
                                   ngf-multiple="false" translate>Attach file</button>
                        </div>
                        <files files="new_topic.files" progress="new_topic.progress" editable="true" is_topic="true"></files>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="thread-tags" translate>Tag your topic</label>

                                    <ui-select multiple tagging="tagTransform" ng-model="new_topic.tags" theme="bootstrap" title="Escolha algumas tags...">
                                      <ui-select-match placeholder="{{'Select a tag...' | translate}}">#{{$item.name}}</ui-select-match>
                                      <ui-select-choices repeat="tag in tags | filter: {name: $select.search}" group-by="">
                                            <div ng-if="tag.isTag">
                                                <div ng-if="tagExists($select.search.toLowerCase())" ng-bind-html="tag.name | highlight: $select.search"></div>
                                                <div ng-if="!tagExists($select.search.toLowerCase())" ng-bind-html="(tag.name | highlight: $select.search) +' (nova tag)'"></div>
                                            </div>
                                            <div ng-if="!tag.isTag" ng-bind-html="tag.name + tag.isTag | highlight: $select.search" ng-class="{'active': $select.search == tag.name}" ng-hide="$select.search.toLowerCase() == tag.name.toLowerCase()"></div>
                                      </ui-select-choices>
                                    </ui-select>
                                </div>
                                <!-- <div class="col-sm-6">
                                    <div class="help-text">tags escolhidas</div>
                                    <div class="selected-tags tags">
                                        <a href="#" class="tag" ng-repeat="tag in new_topic.tags">#{{tag}}</a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div>
                            <label class="help-text-info" for="thread-text"><span class="help-text-forum">*</span><span translate>Required fields</span></label>
                        </div>
                        <div class="form-submit">
                            <button type="submit" ng-click="validate(newthread.$valid)" class="btn btn-primary new-topic" ng-disabled="!new_topic.content" translate>Post new topic</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
</div>
{% endverbatim %}
