{% verbatim %}
<div ng-cloak>
    <div class="profile page container-fluid" ng-class="{'profile-admin': user.is_superuser}">
        <div ng-hide="user_profile.$resolved">
            <p><i class="loading fa fa-refresh fa-spin"></i></p>
        </div>
        <div ng-show="user_profile" ng-if="user_profile" class="profile-row">
            <div class="distance-header-title page-header">
                <h2 class="widget-title"><i class="fa fa-angle-double-right"></i> <span translate>Profile</span></h2>

                <div class="pull-right profile-buttons">
                    <div class="my-notes-button" ng-show="user_profile.is_current_user">
                        <a href="/notes/" class="btn edit" translate>My notes</a>
                    </div>
                    <div class="profile-edit" ng-show="user_profile.is_current_user">
                        <a ng-href="/profile/edit/" class="btn edit" translate>Edit</a>
                    </div>
                    <div class="profile-edit" ng-show="current_user.is_superuser && !user_profile.is_current_user">
                        <a ng-href="/profile/edit/{{ user_profile.username }}" class="btn edit" translate>Edit</a>
                    </div>
                </div>
            </div>
            <div class="profile-information">
                <div class="profile-picture" style="background-image: url( {{ user_profile.image ? user_profile.image : '/static/img/avatar-default.png'}});"></div>

                <h2 class="profile-name">{{user_profile.name ? user_profile.name : user_profile.username }}</h2>
                <!--<span>2 cursos finalizados</span> | <span>1 certificado de conclusão</span>-->
                <div class="profile-bio">
                    <p ng-bind-html="user_profile.biography"></p>
                </div>
                <br>
                <div class="profile-info">
                    <p ng-if="user_profile.groups" class="group">
                        <span><b translate>Groups</b></span>: {{user_profile.groups}}
                    </p>
                </div>
            </div>

        </div>
        <div class="profile-extra-information">

            <div class="profile-info">
                <p ng-if="user_profile.city" class="">
                    <span><b translate>City</b></span>: {{cityName}}
                </p>
            </div>
            <div class="profile-info">
                <p ng-if="user_profile.gender" class="">
                    <span><b translate>Gender</b></span>: {{user_profile.gender}}
                </p>
            </div>
            <div class="profile-info">
                <p ng-if="user_profile.sexual_orientation" class="">
                    <span><b translate>Sexual orientation</b></span>: {{user_profile.sexual_orientation}}
                </p>
            </div>
            <div class="profile-info">
                <p ng-if="user_profile.race" class="">
                    <span><b translate>Ethnicity</b></span>: {{user_profile.race}}
                </p>
            </div>
            <div class="profile-info">
                <p ng-if="user_profile.birth_date" class="">
                    <span><b translate>Birth date</b></span>: {{user_profile.birth_date | date: "shortDate"}}
                </p>
            </div>
            <div class="profile-info">
                <p ng-if="user_profile.living_area" class="">
                    <span><b translate>Living area</b></span>: {{user_profile.living_area}}
                </p>
            </div>
        </div>
        <ul class="profile-social">
            <!--
            <li ng-show="user_profile.email">
              <i class="fa fa-envelope email"></i>
              <a href="mailto:{{user_profile.email}}" target="_blank">{{user_profile.email}}</a>
            </li>
            <li ng-show="user_profile.phone_number">
              <i class="fa fa-mobile fa-lg cellphone"></i>
              <a>{{user_profile.phone_number}}</a>
            </li>
            -->
            <li ng-show="user_profile.social_facebook">
              <i class="fa fa-facebook facebook"></i>
              <a href="{{user_profile.social_facebook}}" target="_blank">{{user_profile.social_facebook.replace('https://www.facebook.com/','')}}</a>
            </li>
                    <li ng-show="user_profile.social_twitter">
              <i class="fa fa-twitter twitter"></i>
              <a href="{{user_profile.social_twitter}}" target="_blank">{{user_profile.social_twitter.replace('https://www.twitter.com/','')}}</a>
            </li>
                    <li ng-show="user_profile.social_instagram">
              <i class="fa fa-instagram instagram"></i>
              <a href="{{user_profile.social_instagram}}" target="_blank">{{user_profile.social_instagram.replace('https://www.instagram.com/', '')}}</a>
            </li>
        </ul>
    </div>

    <section class="courses-page container-fluid" ng-if="user_profile.is_current_user">
        <header class="my-courses-header">
            <h2 class="widget-title-dashboard" translate>My courses</h2>
            <a href="/#!/courses" class="all-courses"><strong translate>See all courses</strong> <i class="fa fa-arrow-right"></i></a>
        </header>

        <p ng-if="!my_courses" translate>Loading courses...</p>
        <p ng-if="my_courses && my_courses.length === 0" translate>There are no courses.</p>
        <cards-carousel ng-if="my_courses.length !== 0" courses="my_courses"></cards-carousel>
        <a href="/#!/courses" class="all-courses-mobile"><strong translate>See all courses</strong> <i class="fa fa-arrow-right"></i></a>
    </section>

    <!--
    <section class="profile-certificates page container-fluid" ng-if="current_user.is_superuser && user_profile.classes.length > 0">
        <div>
            <h2 class="widget-title-dashboard" translate>Classes</h2>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th translate>Clase</th>
                            <th translate>Course<th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="klass in user_profile.classes">
                            <td><a href="/class/{{klass.id}}">{{ klass.name }}</a></td>
                            <td>{{ klass.course }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div ng-if="valid_certificates">
            <h2 class="widget-title-dashboard" translate>Completed courses</h2>
            {{user_profile.certificates}}
            <div class="widget">
                <div class="courses line two-column fifty-fifty">
                    <div class="course-box column" ng-repeat="certificate in user_profile.certificates | filter: { approved: 'true' }">
                        <div class="line two-column">
                            <div class="course-thumb column">
                                <div class="course-thumb-bg" style="background-image: url({{certificate.course.home_thumbnail_url}});"></div>
                                <a class="btn see-certificate" href="/certificate/{{certificate.link_hash}}/" target="_blank">
                                    ver {{ certificate.type==='receipt' ? 'declaração' : 'certificado' }}
                                </a>
                            </div>
                            <div class="course-description column">
                                <div class="progress-label">módulo concluído</div>
                                <h3 class="course-title">{{ certificate.course.name }}</h3>
                                <div class="course-info">
                                    <p><b>Finalizado em:</b> {{ certificate.created_date | date : "d/M/yyyy"}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->
</div>
{% endverbatim %}
