{% verbatim %}
<div ng-controller="GeneralReportsCtrl" class="page general-reports container-fluid">
    <header class="page-header reports-title">
        <h2 translate>Reports</h2>
    </header>

    <div class="row">

        <div class="col-sm-12 col-md-7 col-lg-7 col-xs-12">
            <div class="reports-list">
                <h3>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span translate>Overview</span>
                </h3>

                <div class="report-course-wrapper">
                    <h4 translate>By course</h4>
                    <table class="report-course" ng-repeat="course in general_data.statistics_per_course">
                        <tr>
                            <td colspan="2"><h5>{{ course.name }}</h5></td>
                            <td class="text-right"><b>{{ course.user_count }}</b></td>
                        </tr>
                        <tr>
                            <td translate>Completed the course</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{ (course.user_finished_course_count / course.user_count)*100 }}%;">
                                    </div>
                                </div>
                            </td>
                            <td class="text-right">
                                <b>{{ course.user_finished_course_count }}</b> ({{ (course.user_finished_course_count / course.user_count)*100 | number:2}}%)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <button class="btn btn-link" ng-class="!course.show_classes ? 'show-all' : 'hide-all'" ng-click="course.show_classes = !course.show_classes">
                                    <span ng-show="course.show_classes" translate>Hide classes</span>
                                    <span ng-show="!course.show_classes" translate>Show classes</span>
                                </button>

                                <ul class="list-unstyled" ng-show="course.show_classes">
                                    <li ng-repeat="klass in course.classes">
                                        <b>{{ klass.name }}: </b> {{ klass.user_finished }} <span translate>of</span> {{ klass.user_count }} <span translate>students completed</span> ({{ klass.certificate_count }} <span translate>certificates</span>)
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

        <div class="col-sm-12 col-md-5 col-lg-5 col-xs-12">
        <div class="reports-forum">
                <h3><span translate>Users</span><i class="fa fa-quote-left" aria-hidden="true"></i></h3>
                <table>
                    <tr>
                        <td><b translate>Total users</b></td>
                        <td class="text-right">
                            {{ general_data.user_count }}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="reports-forum">
                <h3 translate>Forums <i class="fa fa-quote-left" aria-hidden="true"></i></h3>
                <table>
                    <tr>
                        <td><b translate>Topics</b></td>
                        <td class="text-right">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            {{ general_data.total_number_of_topics }}
                        </td>
                    </tr>
                    <tr>
                        <td><b translate>Reactions</b></td>
                        <td class="text-right">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            {{ general_data.total_number_of_likes }}
                        </td>
                    </tr>
                    <tr>
                        <td><b translate>Comments</b></td>
                        <td class="text-right">
                            <i class="fa fa-reply" aria-hidden="true"></i>
                            {{ general_data.total_number_of_comments }}
                        </td>
                    </tr>
                </table>
            </div>

            <form class="reports-downloads">
                <h3 translate>Download options</h3>
                
                <fieldset>
                    <legend translate>General platform report</legend>
                    <!--
                    <label>filtrar por área de trabalho</label>
                    <select 
                            class="form-control"
                            ng-model="selected_contract_general"
                            ng-options="c.name for c in contracts">
                    </select>
                    -->
                    <label translate>filter by groups</label>
                    <select 
                            class="form-control multiple-select"
                            multiple ng-model="general_report.groups"
                            ng-options="g.name for g in groups">
                    </select>

                    <button 
                            class="btn download"
                            ng-click="download_general_report()"
                            translate>download general report</button>
                </fieldset>

                <fieldset>
                    <legend translate>Classes report</legend>
                    <!--
                    <label translate>filtrar por área de trabalho</label>
                    <select 
                            class="form-control"
                            ng-model="selected_contract_courses"
                            ng-options="c.name for c in contracts">
                    </select>
                    -->
                    <label translate>filter by classes</label>
                    <select
                            class="form-control multiple-select"
                            multiple
                            ng-model="course_report.classes"
                            ng-options="c as c.name group by c.course.name for c in classes">
                    </select>

                    <button
                            class="btn download"
                            ng-click="download_course_report()"
                            translate>download classes report</button>
                </fieldset>

            </form>
        </div>

    </div>
</div>
{% endverbatim %}
