{% verbatim %}
<div class="classroom-report--table classroom-report--kv-table">
  <dl ng-if="$ctrl.last_login">
    <dt><span translate>Last login</span>:</dt>
    <dd>{{ $ctrl.last_login }}</dd>
  </dl>
  <dl ng-if="$ctrl.last_completed_activity">
    <dt><span translate>Last activity performed</span>:</dt>
    <dd>{{ $ctrl.last_completed_activity }}</dd>
  </dl>
  <dl ng-if="$ctrl.last_access">
    <dt><span translate>Last action on the platform</span>:</dt>
    <dd>{{ $ctrl.last_access }}</dd>
  </dl>
  <dl>
    <dt><span translate>Actions taken in the last 7 days</span>:</dt>
    <dd>{{ $ctrl.accesses_7_days }}</dd>
  </dl>
  <dl>
    <dt><span translate>Actions taken in the last 30 days</span>:</dt>
    <dd>{{ $ctrl.accesses_30_days }}</dd>
  </dl>
</div>
{% endverbatim %}
