{% load static %}
{% load i18n %}
{% load is_enrolled %}

{% verbatim %}
<div class="participation-reports">
  <div class="container-fluid participation-filters">
    <h1 translate>Detailed user report</h1>
    <div>
      <label for="search" translate>Search by participant name</label>:
      <input id="search" name="search" type="text" placeholder="{{'Search by name' | translate}}" ng-model="$ctrl.search" ng-change="$ctrl.fetchKeyword()">
    </div>
    <!--
    <div ng-if="$ctrl.filters">
      <span translate>Or filter the list:</span>
      <select name="classroom" aria-label="Turma" ng-model="$ctrl.classroom">
        <option value="" translate>Select the class</option>
        <option ng-repeat="classroom in $ctrl.filters.turmas" ng-value="classroom">{{ classroom }}</option>
      </select>
    </div>
    -->
  </div>

  <div class="container-fluid">
    <p><span translate>Displaying</span> <b>{{ $ctrl.totalPage }}</b> <span translate>of</span> <b>{{ $ctrl.totalUsers }}</b> <span translate>results</span></p>
    <div class="classroom-reports--list">
      <user-report ng-repeat="user in $ctrl.paginatedUsers track by user.id" user="user"></user-report>
    </div>
    <ul uib-pagination boundary-links="true"
          total-items="$ctrl.totalUsers"
          ng-model="$ctrl.page"
          rotate="false"
          force-ellipses="true"
          max-size="20"
          items-per-page="50"
          ng-change="filter_page()"
          class="pagination pagination-md"
          previous-text="&lsaquo;" next-text="&rsaquo;" first-text="primeira" last-text="última"
          ng-if="$ctrl.totalUsers > 50"></ul>
  </div>
</div>

{% endverbatim %}
