{% verbatim %}
<div>
  <h3 class="widget-title" translate>User paths</h3>
  <button class="btn btn-primary download classroom-report--btn-download pull-right" ng-if="$ctrl.actions.length > 0" ng-click="download_actions()" translate>     
    Download paths 
  </button>
</div>
<div class="classroom-report--kv-table classroom-report--table" ng-if="$ctrl.actions.length > 0">
  <dl ng-repeat="action in $ctrl.actions | limitTo: limit">
    <dt>{{ action.action_phrase }}</dt>
    <dd>{{ action.timestamp }}</dd>
  </dl>
</div>

<div class="classroom-report--kv-table" ng-if="$ctrl.actions.length > 0">
  <button class="btn btn-primary" ng-click="loadMore()" translate>
    Load more paths
  </button>
</div>

<div class="classroom-report--table"  ng-if="$ctrl.actions.length === 0">
  <p><span translate>No paths yet</span>.</p>
</div>
{% endverbatim %}
