{% verbatim %}
<div class="classroom-report">
  <div class="classroom-report--summary">
    <div class="classroom-report--student">
      <img ng-src="{{$ctrl.user.image || '/static/img/avatar-default.png' }}" alt="">
      <div class="classroom-report--student-name">
        <b>{{ $ctrl.user.name }}</b>
        <a ng-href="mailto:{{$ctrl.user.email}}">{{ $ctrl.user.email }}</a>
      </div>
    </div>
    <div>
      <div><span translate>Realized</span> <b>{{ $ctrl.user.accesses_count }}</b> {{ ($ctrl.user.accesses_count === 1 ? 'action' : 'actions') | translate }} <span translate>in the last 7 days</span></div>
      <div ng-if="$ctrl.user.last_access"><span translate>Last access in</span> <b>{{ $ctrl.user.last_access }}</b></div>
      <div ng-if="!$ctrl.user.last_access"><b translate>never entered the platform</b></div>
    </div>
    <div>
      <button class="btn btn-primary" ng-class="{ 'btn-inverse': $ctrl.showDetails }" ng-click="$ctrl.toggleDetails()">
        {{ ($ctrl.showDetails ? 'Hide details' : 'View details') | translate }}
        <i class="fa" ng-class="{ 'fa-chevron-up': $ctrl.showDetails, 'fa-chevron-down': !$ctrl.showDetails }" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="classroom-report--details" ng-if="$ctrl.showDetails">
    <div>
      <h3 class="widget-title" translate>Access</h3>
      <user-access-report user="$ctrl.user"></user-access-report>

      <h3 class="widget-title" translate>Forum</h3>
      <div class="classroom-report--table classroom-report--kv-table">
        <dl>
          <dt><span translate>Topics created</span>:</dt>
          <dd><i class="fa fa-quote-left" aria-hidden="true"></i>{{ $ctrl.user.topics }}</dd>
        </dl>
        <dl>
          <dt><span translate>Reactions</span>:</dt>
          <dd><i class="fa fa-heart" aria-hidden="true"></i>{{ $ctrl.user.reactions }}</dd>
        </dl>
        <dl>
          <dt><span translate>Comments</span>:</dt>
          <dd><i class="fa fa-comment" aria-hidden="true"></i>{{ $ctrl.user.comments }}</dd>
        </dl>
      </div>
    </div>
    <div>
      <user-actions-report user="$ctrl.user"></user-actions-report>
    </div>
    <div>
      <user-course-report-list user="$ctrl.user"></user-course-report-list>
    </div>
  </div>
</div>
{% endverbatim %}
