{% verbatim %}
<h3 class="widget-title" ng-if="$ctrl.courses.length > 0" translate>Courses</h3>
<div class="classroom-report--table course-reports">
  <user-course-report ng-repeat="course in $ctrl.courses track by course.course_id" course="course" user="$ctrl.user"></user-course-report>
</div>
{% endverbatim %}
