{% verbatim %}
<div class="container-fluid">
    <div class="tt-popup notifications" alert-popup ng-class="{'hidden': alert.hidden}">
        <div class="alert" ng-class="'alert-' + alert.type">
            <span class="message" ng-bind="alert.title">Error!</span>
            <button type="button" class="close" ng-click="alert.hidden=true"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <form class="new-thread">
        <div class="form-group">
            <h2 class="title-secondary" translate>Category</h2>
            <div class="add-content">
                <div class="help-text" translate>Select edition language</div>
                <button type="button" class="btn btn-primary btn-lang" ng-class="editingLanguage === 'en' ? 'active-language': ''"
                        ng-click="setLanguage('en')">EN</button>
                <button type="button" class="btn btn-primary btn-lang" ng-class="editingLanguage === 'pt-br' || editingLanguage === 'pt_br' ? 'active-language': ''"
                        ng-click="setLanguage('pt-br')">PT-BR</button>
                <button type="button" class="btn btn-primary btn-lang" ng-class="editingLanguage === 'es' ? 'active-language': ''"
                        ng-click="setLanguage('es')">ES</button>
            </div>
            <label for="thread-forum"><span translate>Name</span><span class="help-text-forum">*</span></label>
            <input class="form-control" ng-model="name" name="name" type="text" id="thread-name" required>
        </div>
        <div class="form-group">
            <label for="thread-text"><span translate>Description</span><span class="help-text-forum">*</span></label>
            <textarea ui-tinymce ng-model="description" name="description" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary save margin pull-right"
            ng-disabled="!(name && description)" ng-click="save_category()" translate>
                Save category
        </button>
    </form>

    <button ng-if="category.id" class="btn btn-warning delete margin pull-left" ng-click="delete_category()" translate>
        Delete category
    </button>
</div>
{% endverbatim %}