<div class="slides-navigation">
    <span class="previous" ng-click="previous_activity_from_image()"></span>
    <div class="slides-number" ng-init="slide_activity_update_position()">{{ current_position_slides }} <span translate>of</span> {{ currentUnit.activities.length }}</div>
    <span class="next" ng-click="next_activity_from_image()"></span>
</div>
