<div class="slides-material">
    <div class="content">
        <iframe id="slidesreveal" ng-src="{{iframe_url + '?postMessageEvents=true'}}" style="width: 100%; height: 100%;"></iframe>
    </div>
</div>
<div class="slides-navigation slides-navigation--gray">
    <span class="slides-navigation-label" translate>Slide</span>
    <span class="previous" ng-show="current_slide != 0" ng-click="previous_slide()"></span>
    <div ng-show="totalSlides" class="slides-number">{{ current_slide + 1 }} {{ 'of' | translate }} {{ totalSlides }}</div>
    <span class="next" ng-click="next_slide()"></span>
</div>
