{% verbatim %}
<div class="container-fluid generic-list">
    <h2 class="generic-title" translate>Themes</h2>

    <div class="row generic-filters">
        <div class="filters  col-lg-10 col-md-10 col-sm-10">
            <form role="form" class="form-inline" method="GET">
                <div class="form-group">
                    <label class="sr-only" for="search" translate>Keyword</label>
                    <input type="text"
                        placeholder="{{'Enter a keyword'|translate}}"
                        class="form-control" id="search"
                        name="search"
                        ng-model="search">
                </div>
                <div class="form-group">
                    <button class="btn btn-sm btn-primary search" ng-click="page_changed()" translate>Search</button>
                </div>
            </form>
        </div>
        <a type="submit" ng-disabled="!theme" href="/#!/theme/"
            class="col-lg-2 col-md-2 col-sm-2 btn btn-primary new-topic new-topic-course margin pull-right"
            translate>
                New theme
        </a>
    </div>

    <div class="theme-list-content">
        <div class="col-lg-12" ng-hide="theme_page_loaded">
            <p><span translate>Loading themes list</span>... <i class="loading fa fa-refresh fa-spin"></i></p>
        </div>
        <div class="col-lg-12" ng-if="theme_page_loaded && themes.length==0">
            <p translate>No themes were found.</p>
        </div>
        <section ng-show="theme_page_loaded && themes.length">
            <table>
                <thead>
                    <tr>
                        <th class="theme-name" translate>Name</th>
                        <th class="theme-description" translate>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="theme in themes">
                        <td class="col-md-4">
                            <div class="text-left">
                                <a href="/#!/theme/{{theme.id}}"><b>{{ theme.name }}</b></a>
                            </div>
                        </td>
                        <td class="col-md-8" ng-bind-html="theme.description"></td>
                    </tr>
                </tbody>
            </table>

            <div class="pagination-wrapper">
                <ul uib-pagination boundary-links="true" total-items="theme.total_theme_items"
                    ng-model="current_page" rotate="true" force-ellipses="true" max-size="5" items-per-page="theme.page_size"
                    ng-change="page_changed()" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;"
                    first-text="{{'first page' | translate}}" last-text="{{'last page' | translate}}" ng-hide="filtered"></ul>
            </div>
        </section>
    </div>
</div>
{% endverbatim %}