{% verbatim %}
    <header class="user-guidelines-header">
        <div class="container-fluid">
            <div class="ug-content">
                <a class="btn new-card-btn edit"
                ui-sref=".new"
                ng-if="user.is_staff || user.is_superuser"
                translate>New</a>
            </div>
            <h3 translate>User guidelines</h3>
        </div>
    </header>
    <ui-view>
        <div class="classroom-repository container-fluid">
            <div class="cards widget repository-widget">
                <!--<p class="ug-info">Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, el.</p>-->
                <section class="cards-search">
                    <div class="search-box">
                        <form class="search-container" ng-submit="get_cards()">
                            <legend class="sr-only" translate>Search by key words</legend>
                            <input type="text" placeholder="{{'Search' | translate}}" class="form-control search-input" ng-model="keyword">
                            <button type="submit" class="search-button">
                                <span class="sr-only" translate>Search</span>
                            </button>
                        </form>
                        <div class="open-filters">
                            <span class="btn button-label"
                                ng-class="{opened: show_filter_options, closed: !show_filter_options}"
                                ng-click="show_filter_options = !show_filter_options"
                                ng-init="show_filter_options=false" translate>
                                    Filter contents
                            </span>
                        </div>
                    </div>

                    <form class="cards-filters-options row" ng-show="show_filter_options">
                        <!--
                        <div class="form-group col-xs-12 col-md-6 col-lg-3">
                            <label>Conteúdos</label>
                            <select ng-model ="card_filter.status" class="form-control">
                                <option value="">Todos os conteúdos</option>
                                <option value="2">Conteúdos validados</option>
                                <option value="3">Conteúdos postados</option>
                            </select>
                        </div>
                        -->
                        <div class="form-group col-xs-12 col-md-6 col-lg-4">
                            <label class="filter-label" translate>Theme</label>
                            <select ng-model="card_filter.audience" class="form-control">
                                <option selected value="" translate>Choose...</option>
                                <option ng-repeat="audience in audiences" ng-value="audience.name">{{ audience.name }}</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-12 col-md-6 col-lg-4">
                            <label class="filter-label" translate>Format</label>
                            <select ng-model="card_filter.axis" class="form-control">
                                <option selected value="" translate>Choose...</option>
                                <option ng-repeat="axis in axes" ng-value="axis.name">{{ axis.name }}</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-12 col-md-6 col-lg-4">
                            <label class="filter-label">Tags</label>
                            <ui-select multiple theme="bootstrap" ng-model="card_filter.tags" title="{{'Choose a tag...' | translate}}">
                                <ui-select-match placeholder="{{'Choose a tag...' | translate}}">#{{ $item.name }}</ui-select-match>
                                <ui-select-choices repeat="tag in tags | filter: {name: $select.search}" group-by="">
                                    <div ng-bind-html="tag.name | highlight: $select.search"></div>
                                </ui-select-choices>
                                <ui-select-no-choice>No tag was found</ui-select-no-choice>
                            </ui-select>
                        </div>
                    </form>

                    <div class="results-info row">
                        <div class="results-info-tags col-xs-12">
                            <a class="tag active" ng-click="card_filter.status = '';" ng-show="card_filter.status == '2'">Conteúdos validados</a>
                            <a class="tag active" ng-click="card_filter.status = ''" ng-show="card_filter.status == '3'">Conteúdos postados</a>
                            <a class="tag active" ng-click="card_filter.audience = ''" ng-hide="card_filter.audience == ''">{{ card_filter.audience }}</a>
                            <a class="tag active" ng-click="card_filter.axis = ''" ng-hide="card_filter.axis == ''">{{ card_filter.axis }}</a>
                            <a class="tag active" ng-repeat="tag in card_filter.tags" ng-click="remove_tag($index)">#{{ tag.name }}</a>
                            <span class="btn btn-sm btn-default trash clean-filters pull-right"
                                ng-show="show_filter_options" ng-click="clean_filters()" translate>
                                Clean filters
                            </span>
                        </div>
                    </div>
                </section>
                <section class="cards-list cards">
                    <!--
                    <div class="row">
                        <header class="col-xs-12">
                            <h3 class="subtitle pull-left">Todos os conteúdos</h3>
                        </header>
                    </div>
                    -->
                    <p ng-if="cards.all.length == 0" translate>No content available yet.</p>
                    <div class="cards-grid">
                        <article class="card" ng-repeat="card in cards.all"
                            ng-class="{'praticas-certificadas': card.is_certified, 'praticas-independentes': !card.is_certified}">
                            <card card="card"></card>
                        </article>
                    </div>

                    <div class="load-more-position" ng-if="has_next_page" >
                        <button class="btn-large btn-load-more" ng-click="loadMore()">
                            <strong translate>Load more</strong>
                        </button>
                    </div>
                </section>

            </div>
        </div>
    </ui-view>
{% endverbatim %}
