{% verbatim %}
<header>
    <a ui-sref=".card({cardId: $ctrl.card.id})">
        <div class="card-image" style="background-image: url('{{ card_image($ctrl.card) }}')"></div>
    </a>
    <a class="card-axis" ng-if="$ctrl.card.audience.name" ng-click="card_filter.audience = $ctrl.card.audience.name">{{ $ctrl.card.audience.name }}</a>
    <h4 class="card-title"><a href="#!/cards/{{ $ctrl.card.id }}">{{ $ctrl.card.title }}</a></h4>
    <div class="card-author"><span translate>by</span> <a href="#!/profile/{{$ctrl.card.author.username}}">{{ $ctrl.card.author.name }}</a></div>
    <div class="action liked" ng-class="{ 'inactive': !$ctrl.card.likes }">{{ $ctrl.card.likes }} <span translate>liked</span></div>
</header>
{% endverbatim %}
