{% verbatim %}
<div class="glider-contain">
    <div class="glider">
        <div class="card-li" ng-repeat="course in $ctrl.courses track by course.id">
            <course-card course="course"></course-card>
        </div>
        <!--This divs is a gambiarra to arrows work in angularjs-->
        <div ng-show="$ctrl.courses.length > 3"></div>
        <div ng-show="$ctrl.courses.length > 3"></div>
        <div ng-show="$ctrl.courses.length > 5"></div>
        <div ng-show="$ctrl.courses.length > 5"></div>
        <div ng-show="$ctrl.courses.length > 7"></div>
        <div ng-show="$ctrl.courses.length > 7"></div>
    </div>
    <button ng-show="$ctrl.courses.length > 3" aria-label="Previous" class="glider-prev glider-mobile"><i class="fa fa-angle-left"></i></button>
    <button ng-show="$ctrl.courses.length > 3" aria-label="Next" class="glider-next glider-mobile"><i class="fa fa-angle-right"></i></button>
</div>
{% endverbatim %}