{% verbatim %}
<div class="widget card-detail-page">
    <div>
        <div class="row container-fluid" ng-if="card.editable">
          <header class="cards card-page-actions line one-column">
            <div class="column">
              <div class="pull-right">
                  <a class="btn btn-sm btn-primary list-all" ui-sref="cards" translate>All guidelines</a>
                  <a class="btn btn-sm edit btn-success" ui-sref=".edit" ng-if="card.editable" translate>Edit</a>
                  <button type="button" class="btn delete btn-sm btn-danger" ng-if="card.editable" ng-click="delete_card()" translate>Delete</button>
              </div>
            </div>
          </header>
        </div>
        <h3 class="title">{{ card.title }}</h3>
        <p class="category">{{ card.audience.name }}</p>
    </div>

    <div class="cards card-page ">
        <div class="card-page-info">
            <div class="author"><span translate>Published by</span>:
              <div class="user-icon">
                <img ng-src="{{ card.author.image || '/static/img/avatar-default.png'}}" alt="card.author.name"/>
              </div>
              <a href="/profile/{{card.author.username}}"><b>{{ card.author.name }}</b></a>
            </div>
            <div class="actions">
                <a class="action liked" ng-class="{ 'active': card.user_liked, 'not-active': !card.user_liked }" ng-click="toggle_like()">
                    <span translate>liked</span>!
                </a>
                <span class="text">
                    {{ card.likes }} <span translate>liked</span>
                    <!--<ng-pluralize count="card.likes" when="{'0': '(0 gostou)', '1': '(1 gostou)', 'other': '({{ card.likes }} gostaram)'}">-->
                </span>
            </div>
        </div>

        <div class="card-page-text card-page-content">
            <div ng-bind-html="safe_html(card.text)"></div>
        </div>

        <div class="card-page-media">
            <div class="carousel" uib-carousel active="active_slide" interval="0">
                <div uib-slide ng-repeat="slide in slides track by $index" index="$index">
                    <img ng-if="slide.type == 'image'" ng-src="{{slide.el.image}}">
                    <iframe ng-if="slide.type == 'video'" ng-src="{{safe_url('https://www.youtube-nocookie.com/embed/' + slide.el.video_id + '?rel=0&showinfo=0')}}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="card-page-sidebar card-page-content">
            <div class="sidebar">
                <div class="box" ng-if="card.hint">
                    <!--<h4 translate>Main highlight</h4>-->
                    <div ng-bind-html="safe_html(card.hint)"></div>
                </div>
                <div class="card-page-description card-page-content">
                    <div ng-if="card.you_will_need">
                        <!--<h4 translate>Methodology</h4>-->
                        <div ng-bind-html="safe_html(card.you_will_need)"></div>
                    </div>
                    <!--
                    <div ng-if="card.know_more">
                        <h5 class="subtitle">Materiais</h5>
                        <div ng-bind-html="card.know_more"></div>
                    </div>
                    <div ng-if="card.authors.length > 0">
                        <h5 class="subtitle">Autoria</h5>
                        <div ng-repeat="author in card.authors">
                            <h6 class="author">{{ author.author_name }}</h6>
                            <div ng-bind-html="author.author_description"></div>
                        </div>
                    </div>
                    -->
                </div>
                <div ng-if="card.files && card.files.length > 0">
                    <h4 class="subtitle-cards" translate>Documents</h4>
                    <ul class="documents-list">
                        <li ng-repeat="file in card.files track by file.id">
                            <a class="download-link" href="{{ file.file }}" download>
                                <h4>{{ file.title }}</h4>
                                <p>{{file.name}}</p>
                                <button class="btn download" translate>Download</button>
                            </a>
                        </li>
                    </ul>
                </div>
                <div ng-if="card.tags && card.tags.length > 0">
                    <h4 class="subtitle-cards" translate>Tags</h4>
                    <div class="tags">
                        <span class="tag" ng-repeat="tag in card.tags">#{{ tag.name }}</span>
                    </div>
                </div>
                <!--
                <div ng-if="card.development">
                    <h5 class="subtitle">Conteúdo</h5>
                    <div ng-bind-html="card.development"></div>
                </div>
                -->
            </div>
        </div>
        <div class="divider"></div>
        <footer class="card-page-footer">
            <div class="actions">
                <span class="action liked" ng-class="{ 'active': card.user_liked }" ng-click="toggle_like()">
                    <span translate>liked</span>!
                </span>
                <span class="text">
                    {{ card.likes }} <span translate>liked</span>
                    <!--<ng-pluralize count="card.likes" when="{'0': '(0 gostou)', '1': '(1 gostou)', 'other': '({{ card.likes }} gostaram)'}">-->
                </span>
            </div>
        </footer>
    </div>
</div>
{% endverbatim %}
