{% verbatim %}
<div class="events-list" ng-class="{ 'one-column': $ctrl.columns !== 2, 'two-columns': $ctrl.columns === 2 }">
  <div class="events-list__header">
    <span ng-transclude="title"></span>
    <div>
      {% endverbatim %}
      {% if user.is_superuser or user.is_staff  %}
      {% verbatim %}
      <button class="btn btn-primary add" ng-click="$ctrl.createEvent($ctrl.course)" aria-label="{{ 'New event' | translate }}">
        <span class="show-large" translate>New event</span>
      </button>
      {% endverbatim %}
      {% endif %}
      {% verbatim %}
      <div class="events-list__sync-dropdown">
        <span class="btn btn-link events-list__sync-button">
          {{ 'Synchronize' | translate }} <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </span>
        <ul class="events-list__sync-menu">
          <li>
            <a ng-href="{{ 'https://calendar.google.com/calendar/u/0/r?cid=' + $ctrl.webcalIcsUrl }}" target="_blank">
              <img src="{{ '/static/img/google-calendar.svg' }}" alt="">
              <span translate>Google Calendar</span>
            </a>
          </li>
          <li>
            <a ng-href="{{ $ctrl.webcalIcsUrl }}" target="_blank">
              <i class="fa fa-apple" aria-hidden="true"></i>
              <span translate>iCalendar</span>
            </a>
          </li>
          <li>
            <a ng-href="{{ $ctrl.icsUrl }}" target="_blank">
              <i class="fa fa-cloud-download" aria-hidden="true"></i>
              <span translate>Export .ics file</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="events-list__items">
    <article class="event" ng-repeat="event in $ctrl.displayedEvents">
      <header>
        <div class="event__time">{{ event.date_time | date: "short" }} | GMT {{ event.date_time | date: "Z" }}</div>
        <span class="event__tag bg-secondary" ng-if="event.type === 'general'" translate>General event</span>
        <span class="event__tag bg-tertiary" ng-if="!$ctrl.course && event.type === 'course'" translate>Course event</span>
        <span class="event__tag bg-gray" ng-if="event.type === 'course_start'" translate>Course start</span>
        <span class="event__tag bg-gray" ng-if="event.type === 'Course_class_start'" translate>Class start</span>
        <span class="event__tag bg-gray" ng-if="event.type === 'Course_unit_start'" translate>Unit start</span>
      </header>
      <main>
        <h4 class="event__title">{{ event.title }}</h4>
        <div class="event__description" ng-bind-html="$ctrl.safeHtml(event.text)"></div>
      </main>
      {% endverbatim %}
      {% if user.is_superuser or user.is_staff  %}
      {% verbatim %}
      <footer ng-if="event.type === 'general' || event.type === 'course'">
        <button class="btn btn-link" ng-click="$ctrl.editEvent(event)" translate>Edit</button>
        <button class="btn btn-link danger" ng-click="$ctrl.deleteEvent(event)" translate>Delete</button>
      </footer>
      {% endverbatim %}
      {% endif %}
      {% verbatim %}
    </article>
    <article ng-if="$ctrl.events.length === 0">
      <p ng-if="$ctrl.course" translate>There are no events for this course.</p>
      <p ng-if="!$ctrl.course" translate>There are no events.</p>
    </article>
  </div>
  <div class="events-list__see-more-link" ng-if="$ctrl.events.length > $ctrl.displayedEvents.length">
    <div class="events-list__see-more" role="button" tabindex="0" ng-if="$ctrl.course" ng-click="showAllEvents" translate>See all events</div>
    <a href="#!/events" class="btn btn-primary" ng-if="!$ctrl.course" translate>See all events</a>
  </div>
</div>

<script type="text/ng-template" id="create-event_modal.html">
  <article>
    <header class="modal-header">
      <button type="button" class="close" ng-click="cancelModal()"><i class="fa fa-times" aria-hidden="true"></i>
        <span translate>Close</span>
      </button>
      <h4 class="modal-title" translate>New event</h4>
    </header>
    <main class="modal-body">
      <edit-language-switcher language="locale" model="event" structure="translations"></edit-language-switcher>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="title" translate>Title</label>
            <input type="text" class="form-control" id="title" ng-model="event.title">
          </div>
          <div class="form-group">
            <label for="datetime" translate>Date</label>
            <input class="form-control"
              moment-picker="dateTime.str"
              placeholder="{{ 'Select date and time' | translate }}"
              format="LL H:mm | [GMT] Z"
              min-view="month" max-view="minute"
              set-on-select="true"
              locale="{{ locale }}"
              ng-model="dateTime.obj">
          </div>
          <div class="form-group">
            <label for="text" translate>Text</label>
            <textarea class="form-control" id="text" ng-model="event.text" ui-tinymce="tinymceOptions"></textarea>
          </div>
        </div>
      </div>
    </main>
    <footer class="modal-footer">
      <button type="button" class="btn btn-cancel btn-sm btn-default" ng-click="cancelModal()" translate>Cancel</button>
      <button type="button" class="btn btn-sm btn-primary" ng-click="saveEvent()" translate>Save</button>
    </footer>
  </article>
</script>
{% endverbatim %}
