{% load static %}
{% load i18n %}

{% verbatim %}
<div ng-controller="EventsDashboardCtrl" class="page events-dashboard container-fluid">
  <events-list columns="2">
    <events-list-title>
      <h2 class="widget-title" translate>Agenda</h2>
    </events-list-title>
  </events-list>
</div>
{% endverbatim %}
