{% verbatim %}
<div class="edit-language-switcher" ng-if="$ctrl.availableLanguages.length > 1">
    <h3 class="page-subtitle" translate>Edit content at: </h3>

    <div class="edit-language-switcher__buttons">
        <div ng-repeat="language in $ctrl.availableLanguages">
            <button class="btn btn-primary" ng-class="language.code === $ctrl.language ? 'active-language': ''" ng-click="$ctrl.setLanguage(language.code)">
                {{ language.cap_short_code }}
            </button>
        </div>
    </div>
</div>
{% endverbatim %}
