<div class="question textleft">
    <h1 class="top">{{ currentActivity.data.question }}</h1>
</div>
<div class="answers trueorfalse-answers" style="margin: 0 10px;">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-8 col-md-2 col-md-offset-8 col-sm-2 col-sm-offset-8 col-xs-3 col-xs-offset-7 textcenter" translate>True</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 textcenter" translate>False</div>
    </div>
    <div class="answer" ng-repeat="alt in currentActivity.data.alternatives track by $index">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <label class="radio">
                    {{ alt }}
                </label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 textcenter">
                <radio ng-model="$parent.answer.given[$index]" ng-value="true" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 textcenter">
                <radio ng-model="$parent.answer.given[$index]" ng-value="false" />
            </div>
        </div>
    </div>
</div>
<basic-reponse-panel></basic-reponse-panel>
