<div>
    <div class="question textleft">
        <h1 class="top">{{ currentActivity.data.question }}</h1>
    </div>
    <div class="answers multiplechoice-answers">
        <div ng-repeat="alt in currentActivity.data.alternatives" class="answer">
            <label class="checkbox" ng-class="{checked: answer.given[$index]}">
                <span class="icons">
                    <span class="first-icon fa fa-square-o"></span>
                    <span class="second-icon fa fa-check-square-o"></span>
                </span>
                <input type="checkbox" ng-model="answer.given[$index]"/>
                <span>{{ alt }}</span>
            </label>
        </div>
    </div>
    <basic-reponse-panel></basic-reponse-panel>
</div>
