<div ng-controller="DiscussionActivityCtrl">
    <!-- special activity is not open yet -->
    <div class="open-activity closed" ng-if="!activity_open && !activity_expired">
        <div class="topbar"></div>

        <h2 class="title" translate>Activity</h2>

        <div class="message">
            <h3 translate>Oops, this content is not yet available! ;)</h3>

            <p><span translate>The special activity will be launched on the </span>{{ currentActivity.data.start_date  | date : 'dd/MM/yyyy' }}.</p>
            <p translate>
                While you wait, you can take a look at the other course content.
            </p>

            <a href="" class="btn btn-success" translate>Continue course</a>
        </div>
    </div>


    <!-- special activity is open -->
    <div class="open-activity" ng-if="activity_open">
        <div class="topbar">
            <!-- <a href="/discussion/#!/forum/{{new_topic.forum}}" class="btn btn-link jump-to">ver atividades dos colegas</a> |
            <a href="" class="btn btn-link jump-to">ver comentários</a> -->

        </div>

        <!-- special activity is expired, but can still be viewed -->
        <div class="message text-center" ng-if="activity_expired">
            <h3 translate>This activity has already ended :(</h3>

            <p><span translate>Since </span> {{ currentActivity.data.end_date  | date : 'dd/MM/yyyy' }}, <span translate> it can no longer receive replies or edits.</span></p>

            <p translate>But you can still consult the statement and responses already sent.</p>

        </div>

        <!-- Activity text -->
        <p class="intro" ng-bind-html="get_as_safe_html(question)"></p>

        <!-- Create and edit answer -->
        <!-- the activity has not been submited yet -->
        <form class="new-thread" name="newanswer" ng-if="!show_answer && !activity_expired" ng-submit="newanswer.$valid && save_answer()" novalidate>
            <!-- <div class="form-group">
                <label for="thread-name">Como se chamará o novo tópico?</label>
                <input ng-model="new_topic.title" type="text" class="form-control" id="thread-name" placeholder="Escreva o título aqui">
            </div> -->
            <div class="form-group">
                <label for="thread-text" translate>Write your answer here</label>
                <textarea ui-tinymce
                            ng-model="topic.content"
                            ng-show="!topic.content || edit_topic"
                            placeholder="Escreva aqui sua resposta" required></textarea>
            </div>

            <div class="form-group">
                <button id="select-file-topic"
                        class="btn btn-xs btn-primary attach"
                        ngf-select="uploadTopicFiles($file, topic, topic.progress)"
                        ngf-multiple="false" translate>Attach file</button>
            </div>
            <files files="topic.files" editable="true" progress="topic.progress" is_topic="true"></files>

            <button type="submit"
                    data-toggle="tooltip" data-placement="bottom" title="Campo de texto é obrigatório"
                    class="btn btn-success new-topic" ng-disabled="!topic.content" translate>Post reply</button>
        </form>
        <!-- /Create and edit answer -->

        <a id="answer"></a>
        <!-- Activity expired and no answer given -->
        <div class="user-activity forums thread" ng-show="activity_expired && !show_answer">
            <div class="forum-thread" ng-cloak>
                <div class="thread-post">
                    <div class="text-center">
                        <p>
                            <em translate>You have not sent any responses for this activity.</em>
                        </p>
                        <p>
                            <em translate>Unfortunately, it is no longer possible to send a reply, as this activity is already expired.</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- the activity has been submitted already and can be viewed -->
        <div class="user-activity forums thread" ng-show="show_answer">
            <h3 class="title" ng-show="my_answer" translate>Your activity:</h3>
            <div class="forum-thread" ng-cloak>
                <div class="user-icon">
                    <img src="{{ topic.author.image || '/static/img/avatar-default.png'}}" alt="{{ topic.author.name || topic.author.username }}">
                </div>
                <div class="info">
                    <h4 class="thread-header pull-left"><span translate> <span>by</span> <span class="user-name">{{topic.author.name || topic.author.username}}</span> <span class="last-edit"><span translate>last edition:</span> {{topic.updated_at | date : 'dd/MM/yyyy'}}</span></span></h4>

                    <button class="btn btn-sm btn-success edit pull-right" ng-click="show_edit()" ng-show="my_answer" ng-style="{'visibility': (!activity_expired && currentActivity.data.editable) ? 'visible' : 'hidden'}" translate>edit</button>
                    

                    <button class="btn btn-sm btn-success edit pull-right" ng-click="viewMyAnswer()" ng-hide="my_answer" translate>return to my activity</button>
                </div>

                <div class="thread-post">
                    <p ng-bind-html="get_as_safe_html(topic.content)"></p>
                    <files files="topic.files" editable="false" is_topic="true"></files>
                </div>


                <div class="actions">
                    <div class="pull-left">
                        <a ng-click="topic_like(topic)" ng-class="{ 'active': topic.user_like }" class="action liked"><span>like</span></a>
                        <!--<a class="action used">usar</a>-->
                        <a ng-click="topic.show_comment_input=true" class="action replies"><span translate>comment</span></a>
                    </div>
                    <div class="pull-right">
                        <span class="action liked"
                            ng-class="{ 'active': topic.count_likes }"
                           > {{ topic.count_likes  }} <span translate>liked</span></span>
                        <span class="action replies"
                                ng-class="{ 'active': topic.count_replies }"
                                > {{ topic.count_replies }} <span translate>comments</span></span>
                        <!--<span class="action used">7 usaram</span>-->
                    </div>
                </div>

                <!-- Novo comentário -->
                <div id="new-comment">
                    <form class="comments-form" ng-if="topic.show_comment_input" ng-init="comment = new_comment()">
                        <textarea ui-tinymce
                                    ng-model="comment.text"
                                    placeholder="Escreva aqui o seu comentário"></textarea>
                        <button id="select-file-topic"
                                class="btn btn-xs btn-primary attach pull-left"
                                ngf-select="uploadCommentFiles($file, comment)"
                                ngf-multiple="false" translate>Attach file</button>
                        <button class="btn btn-xs btn-success reply pull-right" ng-disabled="!comment.text"
                            data-toggle="tooltip" data-placement="bottom" title="Campo de texto é obrigatório"
                            ng-click="save_comment(comment, null)" offset="300" translate>comment</button>
                        <button class="btn btn-xs btn-danger delete pull-right" ng-click="topic.show_comment_input=false" translate>discard</button>

                        <files files="comment.files" editable="true" progress="comment.progress"></files>
                    </form>
                </div>
                <!-- /Novo comentário -->
                <div class="comments">
                    <h3 class="comments-title" ng-show="topic.comments.length > 0" translate>Comments</h3>
                    <!-- Exibição de um comentário -->
                    <div class="thread" ng-repeat="comment in topic.comments">
                        <div class="user-icon">
                            <img ng-src="{{ comment.author.image || '/static/img/avatar-default.png'}}" alt="{{ comment.author.name }}">
                        </div>
                        <div class="info">
                            <span class="user-name">
                                <a ng-href="#!/profile/{{ comment.author.username }}">{{ comment.author.name || comment.author.username}}</a>
                            </span>
                            <div class="comment-post" ng-if="!comment.updating">
                                <div ng-bind-html="get_as_safe_html(comment.text)"></div>

                                <files files="comment.files" editable="false"></files>
                            </div>
                            <!-- Edição de um comentário -->
                            <form class="comments-form" ng-if="comment.updating" ng-init="changed_comment = comment">
                                <textarea ui-tinymce
                                            ng-model="changed_comment.text"
                                            placeholder="Escreva aqui o seu comentário"></textarea>
                                <button id="select-file-topic"
                                        class="btn btn-xs btn-primary attach pull-left"
                                        ngf-select="uploadCommentFiles($file, changed_comment)"
                                        ngf-multiple="false" translate>attach file</button>
                                <button class="btn btn-xs btn-success reply pull-right" type="submit" ng-disabled="!changed_comment.text"
                                    data-toggle="tooltip" data-placement="bottom" title="Campo de texto é obrigatório"
                                    ng-click="update_comment(changed_comment); comment.updating=false" translate>comment</button>
                                <button class="btn btn-xs btn-danger delete pull-right" ng-click="comment.updating=false" translate>discard</button>

                                <files files="changed_comment.files" editable="true" progress="changed_comment.progress"></files>
                            </form>
                            <!-- /Edição de um comentário -->
                        </div>
                        <div class="actions">
                            <div class="pull-left">
                                <a ng-click="comment_like(comment)"
                                    ng-class="{ 'active': comment.user_like }"
                                    class="action liked"><span translate>liked</span></a>
                                <a ng-click="comment.show_comment_input = true;" class="action replies" du-smooth-scroll="new-answer-{{comment.id}}"><span translate>comment</span></a>
                                <a class="action edit" ng-click="comment.updating=true" ng-show="(comment.author.id == user.id || user.is_staff || user.is_superuser) && !comment.updating" translate>edit</a>
                                <span class="last-update">{{ comment.updated_at | date : "d 'de' MMMM 'de' yyyy 'às' HH'h'mm" }}</span>
                            </div>
                            <div class="pull-right">
                                <span class="action liked"
                                        ng-class="{ 'active': comment.count_likes }"
                                        >
                                        {{comment.count_likes}} <span translate>liked</span></span>
                                <!--<span class="action replies">30 respostas</span>-->
                            </div>
                        </div>
                        <!-- /Exibição de um comentário -->

                        <!-- Resposta a um comentário -->
                        <div class="thread" ng-repeat="reply in comment.comment_replies">
                            <div class="user-icon">
                                <img ng-src="{{ reply.author.image || '/static/img/avatar-default.png'}}" alt="{{ reply.author.name }}">
                            </div>
                            <div class="info">
                                <div ng-show="!reply.updating">
                                    <span class="user-name">
                                        <a ng-href="#!/profile/{{ reply.author.username }}">{{ reply.author.name || reply.author.username }}</a>
                                    </span>
                                    <div class="comment-post">
                                        <div ng-bind-html="get_as_safe_html(reply.text)"></div>

                                        <files files="reply.files" editable="false"></files>
                                    </div>
                                </div>
                                <!-- Edição de resposta a um comentário -->
                                <form class="comments-form" ng-if="reply.updating" ng-init="changed_reply = reply">
                                    <textarea ui-tinymce
                                                ng-model="changed_reply.text"
                                                placeholder="Escreva aqui o seu comentário"></textarea>
                                    <button id="select-file-topic"
                                            class="btn btn-xs btn-primary attach pull-left"
                                            ngf-select="uploadCommentFiles($file, changed_reply)"
                                            ngf-multiple="false" translate>attach file</button>
                                    <button class="btn btn-xs btn-success reply pull-right" type="submit" ng-disabled="!changed_reply.text"
                                        data-toggle="tooltip" data-placement="bottom" title="Campo de texto é obrigatório"
                                        ng-click="update_comment(changed_reply); reply.updating = false" translate>comment</button>
                                    <button class="btn btn-xs btn-danger delete pull-right" ng-click="reply.updating=false" translate>discard</button>

                                    <files files="changed_reply.files" editable="true" progress="changed_reply.progress"></files>
                                </form>
                                <!-- /Edição de resposta a um comentário -->
                            </div>
                            <div class="actions">
                                <div class="pull-left">
                                    <a ng-click="comment_like(reply)"
                                        ng-class="{ 'active': reply.user_like }"
                                        class="action liked"><span translate>liked</span></a>
                                    <a ng-click="comment.show_comment_input = true;" du-smooth-scroll="new-answer-{{comment.id}}" class="action replies"><span translate>comment</span></a>
                                    <a class="action edit" ng-click="reply.updating=true" ng-show="(reply.author.id == user.id || user.is_staff || user.is_superuser) && !reply.updating" translate>edit</a>
                                    <span class="last-update">{{ reply.updated_at | date : "d 'de' MMMM 'de' yyyy 'às' HH'h'mm" }}</span>
                                </div>
                                <div class="pull-right">
                                    <span class="action liked"
                                            ng-class="{ 'active': reply.count_likes }"
                                            > {{reply.count_likes}} <span translate>liked</span></span>
                                </div>
                            </div>
                        </div>
                        <!-- /Resposta a um comentário -->

                        <!-- Criar nova resposta a comentário -->
                        <div id="new-answer-{{comment.id}}" class="info">
                            <form class="comments-form" ng-if="comment.show_comment_input" ng-init="reply = new_comment()">
                                <textarea ui-tinymce
                                            ng-model="reply.text"
                                            placeholder="Escreva aqui o seu comentário"></textarea>
                                <button id="select-file-comment"
                                        class="btn btn-xs btn-primary attach pull-left"
                                        ngf-select="uploadCommentFiles($file, reply)"
                                        ngf-multiple="false" translate>attach file</button>
                                <button class="btn btn-xs btn-success reply pull-right" ng-disabled="!reply.text"
                                    data-toggle="tooltip" data-placement="bottom" title="Campo de texto é obrigatório"
                                    ng-click="save_comment(reply, comment)" translate>comment</button>
                                <button class="btn btn-xs btn-danger delete pull-right" ng-click="comment.show_comment_input=false" translate>discard</button>
                                <files files="reply.files" editable="true" progress="reply.progress"></files>
                            </form>
                        </div>
                        <!-- /Criar nova resposta a comentário -->
                    </div>
                    <!-- /Exibição de um comentário -->
                    <a id="last-comment"></a>
                </div>

                </div>
            </div>
        </div>
        <!-- /Special activity is open -->

    <div class="all-activity forums forum-list" ng-show="hasTopic">
        <h3 class="title" translate>Activities of colleagues</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate>author</th>
                    <th translate>class</th>
                    <th translate>activity</th>
                    <th translate>reactions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="new" ng-repeat="answer in classes_activities.results">
                    <td>
                        <div class="user-icon">
                            <img ng-src="{{ answer.topic.author.image || '/static/img/avatar-default.png'}}" alt="{{answer.topic.author.name}}">

                        </div>
                        <div class="info">
                            <a ng-click="viewAnswer(answer.topic)"><span class="user-name">{{answer.topic.author.name || answer.topic.author.username}}</span></a>
                        </div>
                    </td>
                    <td><b>{{answer.name}}</b></td>
                    <td>Last activity <b>{{answer.topic.last_activity_at | date : 'dd/MM/yyyy' }}</b></td>
                    <td>
                        <!-- <span class="action liked">{{ activity.count_likes }} curtiram</span> -->
                        <span class="action replies">{{ answer.topic.count_replies }} <span translate>commented</span></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <p><span translate>Displaying</span> <b>{{ totalPage }}</b> <span translate>of</span> <b>{{ classes_activities.count }}</b> results</p>

            <ul uib-pagination boundary-links="true" total-items="classes_activities.count" ng-model="page" rotate="false" force-ellipses="true" max-size="19" items-per-page="10" ng-change="filter_page()" class="pagination pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="primeira" last-text="última" ng-show="classes_activities.count > 10"></ul>
        </div>
    </div>
</div>
<button class="btn btn-sm btn-primary next-activity pull-right" ng-click="nextStep(true)" ng-show="my_answer" translate>Forward</button>
