<div>
  <h1 class="top" ng-show="currentActivity.data.question">{{ currentActivity.data.question }}</h1>

  <div class="h5p-embed slides question">
    <iframe ng-src="{{ trustUrl(currentActivity.data.content) }}" width="900" height="500" frameborder="0" allowfullscreen="allowfullscreen" title="{{ currentActivity.data.question }}"></iframe>
    <script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
  </div>
</div>
